[2020-07-06 17:07] frangio opened #1 "Validate linked libraries"
We currently don't check that a contract's linked libraries are also upgrade safe. The check for `delegatecall` leaves out libraries by looking for `baredelegatecall` types.

https://github.com/OpenZeppelin/openzeppelin-upgrades/blob/a32c91c282ba129abe0535fa7d4d40aeeaab69f9/packages/core/src/validate.ts#L109-L111

The difficulty with libraries is that it's not known at compile time what implementa

[2020-07-06 17:31] frangio opened #2 "Use ProxyAdmin"
This can be developed in two stages:

1. Deploy instances with a ProxyAdmin
2. Reuse ProxyAdmin

[2020-07-06 17:31] frangio opened #3 "Use storage layout from solc output for more sophisticated storage checks"
Solidity 0.5.13 introduced the `storageLayout` compiler output, which gives accurate information about the size and alignment of items in a storage layout. We should use this information instead of the AST. Given this accurate information, the use of the Levenshtein algorithm may have to change quite a bit.

[2020-07-06 17:32] frangio opened #4 "Improve format of error messages"
Reporting of failed validations and storage incompatibilities should be well polished.

Ideally we would print the line number where the error is presented, but initially we can print the name of the variable that introduced it.

[2020-07-06 17:33] frangio opened #5 "Remove metadata before hashing bytecode for versioning"
The function [`getVersionId`](https://github.com/OpenZeppelin/openzeppelin-upgrades/blob/da198b1c2d9aaee92f49a80b803b42c4676c3945/packages/core/src/version.ts) takes a hash of the `deployedBytecode`. This bytecode contains a hash of the metadata of the source files, which can change due to simple formatting changes in source files. We want to remove this metadata before taking the hash, so that ch

[2020-07-06 18:27] frangio opened #7 "Extend the Buidler Runtime Environment with upgrades functions"
Currently `deployProxy` and `upgradeProxy` are simply exported from a file. Buidler plugins are expected to [extend the BRE using `extendEnvironment`](https://buidler.dev/advanced/buidler-runtime-environment.html#extending-the-bre).

[2020-07-06 19:08] frangio opened #8 "Support using a non-default signer"
The Buidler plugin will currently deploy both impl and proxy using the default signer. We should allow users to specify a different signer.

Instead of receing a `contractName: string` as argument to `deployProxy` and `upgradeProxy`, we could receive a `ContractFactory` instance which the user can create with any signer they want. Since the only element identifying the contract in the `ContractFac

[2020-07-07 19:17] frangio opened #9 "Use storage slots for implementation and admin"
We currently retrieve the implementation using a function call:

https://github.com/OpenZeppelin/openzeppelin-upgrades/blob/9449af2d0893adf313a645690fe742a9265c8497/packages/plugin-buidler/src/upgrade-proxy.ts#L21

We should read directly from storage using `getStorageAt`.

I would introduce a new module to contain this new `getImplementation` function. There should also be a `getAdmin` function e

[2020-07-07 23:21] frangio opened #10 "Add comprehensive Buidler plugin tests"
There is currently only a simple test for the happy path.

[2020-07-08 16:25] frangio opened #11 "Write basic API documentation"
We may want to briefly experiment with using [TypeDoc](https://github.com/TypeStrong/typedoc) to generate input for the docs site. But if it's too complicated we should just write it fully by hand.

[2020-07-08 16:26] frangio opened #12 "Set up docs site integration"
Include this project in [docs.openzeppelin.com](https://github.com/OpenZeppelin/docs.openzeppelin.com/blob/master/playbook.yml).

[2020-07-08 18:44] frangio opened #13 "Resumable transactions"
If the plugins are interrupted while waiting for a transaction to be mined, we should make it possible to re-run it and pick up where it was interrupted. It should not be necessary to re-send the transaction (paying the cost again).

The way that we implement this is by storing on disk the transaction id as soon as it's sent to the network. The way I see this designed for deployments is that where

[2020-07-08 22:33] frangio opened #14 "Remove AST ids from storage layout"
The extracted storage layout contains type identifiers that contain AST node ids, such as `t_struct(MyComplexStruct)1029_storage` where `1029` is a node id.

I wrote a function `stabilizeTypeIdentifier` that removes node ids, but it would be an error to use it as is.

https://github.com/OpenZeppelin/openzeppelin-upgrades/blob/6db3c4fda6e5221a5b19333b56bcb0ef641742c2/packages/core/src/storage.ts#L9

[2020-07-08 22:42] #14 closed, assigned to nobody

[2020-07-10 18:55] frangio opened #15 "Implement migration from CLI manifests to the new format"
I started building the manifest format from scratch because it was easier for me, ~but we have to decide whether we'll reuse the format that exists in OpenZeppelin CLI~. It turns out that the existing CLI manifest contains a lot of information that is irrelevant for the plugins so we will define a new one. Thus we have to add the `manifestVersion` field (3.0?) and implementing automatic migration

[2020-07-13 15:36] #8 closed, assigned to nobody

[2020-07-13 18:29] frangio opened #16 "Consider using keccak256 for bytecode hashing"
I initiall used sha256 because it's available without dependencies, but this will make it impossible to migrate OpenZeppelin CLI manifests as in #15. It's also more common in Ethereum to use keccak256 even for hashes that will only live off chain.

[2020-07-13 21:40] frangio opened #18 "Add debug logging"
Should use the [`debug`](https://www.npmjs.com/package/debug) package.

[2020-07-13 22:02] frangio opened #19 "Use user-friendly names for manifest files"
We're currently using `${chainId}.json`, which results in files named like `0x7a69.json`. OpenZeppelin CLI uses a user friendly network name like `mainnet.json`, and anything that doesn't have a known name gets called `dev-${networkId}.json`. I think user friendly names make sense so that people know what the file is, but I don't like the `dev-` naming because some unknown ids will not be developm

[2020-07-15 15:03] frangio opened #21 "Run integration tests on Geth"

[2020-07-15 15:03] frangio opened #22 "Review potential race conditions in deployProxy"
Depending on whether deployment promises resolve once the transaction was broadcast or mined, it may happen that two consecutive proxy deploys fail at the second one:

[code]

The first one will deploy `Impl` and put it in the impl store, the second one will fetch its address and verify that it has code using `eth_getCode`, but if it hasn't been mined yet it will fail (unless there is a way to cal

[2020-07-16 01:06] frangio opened #24 "Add Truffle plugin"

[2020-07-17 20:46] #9 closed, assigned to martriay

[2020-07-18 00:31] #24 closed, assigned to frangio

[2020-07-18 00:48] frangio opened #30 "Refactor frontend"
Now that we have both Truffle and Buidler plugins, there is a lot of duplication between their respective `deployProxy` and `upgradeProxy` functions, there is even duplication between them within the same plugin, and they are also incidentally very long functions.

It seems to me that we should be able to write abstract `deployProxy` and `upgradeProxy` functions that could be instantiated with the

[2020-07-20 02:21] martriay opened #32 "Use buidler's config.paths.cache directory instead of cache/"
Consider prefixing the validations file with an upgrades-specific name like `${config.paths.cache}/upgrades.validations.json` so it doesn't conflict with external cache files that might exist.

[2020-07-20 17:05] frangio opened #33 "Add locking mechanism to Manifest"
To avoid race conditions and corrupting the manifest file if it's ever used by two processes concurrently.

The OpenZeppelin CLI does a very coarse locking which only allows running a single instance at the same time. We should aim for finer locking, which we should be able to do given the way `Manifest` was designed.

[2020-07-20 18:20] frangio opened #35 "Support custom initializer function name"
We currently automatically call the function with name `initialize`. We may want to allow the user to choose some other function.

[2020-07-20 18:20] frangio opened #36 "Support initializer corner cases"
1. Contracts with no `initialize` function.
2. Contracts with two `initialize` functions with different signatures. What should happen in this case?

Additionally, we might want to make the array argument optional for initializers with no arguments.

[2020-07-21 00:40] #7 closed, assigned to martriay

[2020-07-21 22:45] frangio opened #40 "Use contracts build directory from Truffle config"
There was a global `config` object introduced in [Truffle 5.1.35](https://github.com/trufflesuite/truffle/releases/tag/v5.1.35). It includes the `contracts_build_directory`, which is sometimes an automatic temporary directory, and is where we should be reading artifacts from instead of the currently hardcoded `build/contracts` directory.

[2020-07-22 00:30] #2 closed, assigned to frangio

[2020-07-22 17:13] martriay opened #42 "Set up project wide testing command"
Today we need to move to each package and run tests individually

[2020-07-22 18:12] #42 closed, assigned to nobody

[2020-07-22 19:37] #40 closed, assigned to nobody

[2020-07-22 22:25] #5 closed, assigned to martriay

[2020-07-22 22:54] #32 closed, assigned to nobody

[2020-07-22 23:19] #16 closed, assigned to nobody

[2020-07-23 19:14] #33 closed, assigned to nobody

[2020-07-27 13:56] frangio opened #51 "Expose ProxyAdmin functions"
A new module `admin` containing two new funcitons to handle admin and ownership.

- `admin.transferOwnership`
- `admin.changeProxyAdmin`

[2020-07-27 13:56] frangio opened #52 "Validate external linked libraries"
At the moment of `deployProxy`, we have to validate that the linked libraries are using code that has been validated to be upgrade safe. In the solc output for a contract we find the locations in the bytecode where the addresses of linked libraries will be found. During `deployProxy` we have to extract those addresses, fetch the bytecode at that address, and look it up in the validations object.

[2020-07-27 18:40] frangio opened #53 "Create zpl.in validation error URLs"
We are showing users links along with validation errors that don't exist yet.

https://github.com/OpenZeppelin/openzeppelin-upgrades/blob/ce42a375011e77f0c0bd71d1ef8142d1f0c75695/packages/core/src/validate.ts#L152

We have to create them. Ideally they would point to a new page that explains each error in detail. But as a quicker intermediate option we can redirect them all to https://docs.openzepp

[2020-07-27 22:45] #22 closed, assigned to frangio

[2020-07-27 23:09] frangio opened #55 "Reuse Truffle and Ethers tx waiting implementations or parameters"
In https://github.com/OpenZeppelin/openzeppelin-upgrades/pull/47 I introduced `waitAndValidateDeployment` to wait until a tx is mined.

https://github.com/OpenZeppelin/openzeppelin-upgrades/blob/b3ae02961a87b990a30f7f4bc9d91668220ff00e/packages/core/src/deployment.ts#L33

There's at least two parameters here that te user might want to configure: the polling interval and the timeout. Libraries like

[2020-07-27 23:29] frangio opened #56 "Deploy implementations and ProxyAdmin concurrently"
We currently serialize the deployment transactions for an implementation and a ProxyAdmin contract. For a faster experience we may want to send them to the blockchain at the same time. On the other hand, deploying a ProxyAdmin is only meant to happen once, and adding concurrency may increase the chance of odd issues happening, so we can decide to keep them serialized.

See https://github.com/OpenZ

[2020-07-28 14:26] frangio opened #57 "Document suggestions for manifests under version control"
Using the plugins to deploy proxies creates manifest files under the `.openzeppelin` directory. They are currently named `0x1234.json` but in https://github.com/OpenZeppelin/openzeppelin-upgrades/issues/19 they will be renamed to friendlier names like `mainnet.json`.

We need to have a clear recommendation on whether to put these files under version control.

The recommendation that I think makes

[2020-07-28 14:29] frangio opened #58 "Source locations in Truffle use an absolute path"
See `src-decoder.ts`.

[2020-07-28 21:35] frangio opened #59 "Look into potential issues with concurrent Buidler runs"
See https://github.com/OpenZeppelin/openzeppelin-upgrades/commit/8be382286f22d0c14eff93e2aff4ada0dd9d5aa2. Had to disable concurrency in Buidler tests that were using different instances of the Buidler EVM at the same time. This may be related to the fact that Buidler runs are deterministic, but it's weird that even tx hashes would be the same. We need to understand exactly what was going on there

[2020-07-28 22:08] frangio opened #60 "Consider using custom Error classes"
This is particularly important for the timeout in `waitAndValidateDeployment` because users may want to handle it in their code to retry.

https://github.com/OpenZeppelin/openzeppelin-upgrades/blob/51e787f27a386900d3308f0bda4e75a667d51bd9/packages/core/src/deployment.ts#L55

[2020-07-29 04:44] abcoathup opened #62 "Support specifying an upgrade function and parameters in upgradeProxy"
Need a mechanism to be able to initialize state when upgrading so that it is part of the upgrade transaction.
Otherwise users would need to protect with some form of access control so they could do this in a separate transaction.

For example, adding a new state variable `otherValue` in version 2 and needing a safe way to initialize it on upgrade.
[code]

[2020-07-29 05:10] abcoathup opened #63 "Improve upgrade error messages"
Can we improve upgrade error messages to not include the stack trace?

[code]

[2020-07-29 05:19] abcoathup opened #64 "Renaming state variable results in error New storage layout is incompatible"
Renaming state variable results in error `New storage layout is incompatible`

Renaming doesn't change storage layout.

[code]

[code]

[2020-07-29 05:56] abcoathup opened #65 "Swapping the order in which the base contracts are declared doesn't result in storage layout error"
Swapping the order in which the base contracts are declared doesn't result in storage layout error

Example below MyContract is A, B whilst MyContractV2 is B, A
[code]

[code]
[code]

[code]

[2020-07-29 06:31] abcoathup opened #66 "Truffle: Provide access to proxy address for upgrades"
Currently there doesn't appear to be a mechanism to get the proxy address other than copy the address from the output of deploying `AdminUpgradeabilityProxy` and hardcode it into migration scripts.

## 3_upgrade.js
[code]

[code]

[2020-07-29 06:59] abcoathup opened #67 "Truffle: display notification on upgrade"
When using `upgradeProxy` no notification is shown that the upgrade has occurred.

All we see is that a new logic contract has been deployed:
[code]

[2020-07-29 20:16] #1 closed, assigned to martriay

[2020-07-29 23:09] #63 closed, assigned to nobody

[2020-07-30 05:24] #66 closed, assigned to nobody

[2020-07-30 05:32] abcoathup opened #68 "Separate deployProxy and upgradeProxy tests"
Currently the tests for Truffle and buidler have deployProxy and upgradeProxy in the same script.  In production they will be used in separate scripts as an upgrade will happen sometime after a deploy.

The existing upgrades library shows a single script doing deploy and upgrade and this has caused confusion as there aren't examples showing these distinct steps.

The tests act as examples (and wil

[2020-07-30 15:30] frangio opened #69 "Rename packages for Buidler convention"
- `@openzeppelin/upgrades-buidler` → `@openzeppelin/buidler-upgrades`
- `@openzeppelin/upgrades-truffle` → `@openzeppelin/truffle-upgrades`

[2020-07-30 18:05] #18 closed, assigned to frangio

[2020-07-30 18:48] frangio opened #72 "Review storage validations for structs and enums"
I don't think structs are enums are supported in storage layout checking. We don't have any specific code to handle that, and I think we may have to specifically check that there are no structs and enums and let the user know that we can't automatically verify their safety. We may also want to add a way to force an upgrade even if this can't be checked.

This will be until #3 is implemented.

[2020-07-30 18:52] frangio opened #73 "Offer a way to safely rename state variables across upgrades"
State variable renaming is not allowed for upgrades, because it could have actually been an error by the user which implies a storage layout change.

We should offer a way to rename anyway. My preference would be a way for developers to explicitly mark a state variable as being a rename of the previously existing variable in the same storage location. Something like...
[code]

[2020-07-30 18:54] #64 closed, assigned to nobody

[2020-07-30 22:24] #67 closed, assigned to nobody

[2020-07-30 22:25] frangio opened #76 "Finalize manifest format and versioning"
Related to https://github.com/OpenZeppelin/openzeppelin-upgrades/issues/15. But we just have to finalize the format and define a `manifestVersion` field.

[2020-07-30 23:18] #35 closed, assigned to nobody

[2020-07-30 23:18] #36 closed, assigned to frangio

[2020-07-31 08:58] #65 closed, assigned to nobody

[2020-07-31 18:18] #19 closed, assigned to frangio

[2020-07-31 18:26] frangio opened #79 "Fix Truffle error messages"
Truffle is ignoring our `util.inspect.custom` error display logic and as a result the user doesn't see validation errors. It seems it only picks up the `message` property in the error object.

We have to change our `UpgradesError` class so that it works in that context. The solution may be to add a `message` getter to our `UpgradesError` class that returns the full message + details.

We should st

[2020-07-31 19:17] #58 closed, assigned to martriay

[2020-07-31 19:52] frangio opened #81 "Support scripts ran through `truffle exec`"
Depends on https://github.com/trufflesuite/truffle/issues/3221.

[2020-07-31 20:51] spalladino opened #84 "Validate proxy and proxyadmin owner before sending a transaction"
If the current sender does not own the ProxyAdmin, they get a revert with an Ownable error:
[code]

As a nice to have, we could prevent this by checking if the sender is the owner of the proxyadmin _before_ sending the tx. And since we're at it, we can also check that the proxy to upgrade is indeed owned by the proxyadmin.

[2020-07-31 20:59] spalladino opened #85 "Override transaction options (from, gas, gasPrice) in create and upgrade proxy"
Add `from`, `gas`, and `gasPrice` as optional values to the options parameter of `createProxy` and `upgradeProxy`, so the user can change the defaults for a specific transaction. For example:
[code]

(found in truffle plugin, unsure if applies to builder as well)

[2020-07-31 20:59] #79 closed, assigned to martriay

[2020-07-31 21:12] spalladino opened #86 "Support creating proxies for artifacts from installed packages"
Truffle supports loading an artifact from an installed package:
[code]

But trying to `deployProxy` it currently fails with the following error:
[code]

[2020-07-31 21:43] spalladino opened #87 "ENOENT no such file or directory cache/validations.json"
If the `usePlugin('@openzeppelin/upgrades-buidler')` is added to buidler.config **after** the project contracts have been compiled, running a createProxy fails with the following error:

[code]

[2020-07-31 22:00] spalladino opened #89 "Upgrade transaction is sent even if proxy is already upgraded"
Running `upgradeProxy` twice on the same proxy with the same implementation contract sends two `upgrade` transactions under the hood. The second transaction should not be necessary, since the proxy is already set to the correct implementation.

[2020-07-31 22:02] spalladino opened #90 "Add logs for createProxy and upgradeProxy"
With DEBUG enabled, there are no logs when a createProxy or upgradeProxy operation is run.

[2020-07-31 22:03] spalladino opened #91 "Misleading logs when not deploying a contract"
With DEBUG enabled, the logs report `deploying proxy admin` or `deploying implementation`, even when they are **not** deploying it because a previous deployment exists. Consider changing to `checking proxy admin` or similar.

[2020-07-31 22:25] #4 closed, assigned to frangio

[2020-07-31 22:30] #69 closed, assigned to nobody

[2020-08-03 19:36] frangio opened #95 "Support structs & enums in storage layout checks"
Checking storage layout that includes structs and enums is not yet supported. The initial version will contain an error that can be turned into a warning.

[2020-08-04 00:04] frangio opened #97 "Allow contract instance as argument to upgradeProxy"
`upgradeProxy` currently receives an address to identify the proxy to upgrade. We should allow also receiving a contract instance, or just any object with an `address` field.

[2020-08-05 21:55] spalladino opened #99 "Bundle the Initializable base contract with the plugins"
So the user doesn't need to install `@openzeppelin/upgrades` or copy-paste the Initializable implementation.

[2020-08-06 17:46] #72 closed, assigned to martriay

[2020-08-06 20:25] #91 closed, assigned to frangio

[2020-08-06 21:46] #87 closed, assigned to frangio

[2020-08-06 22:19] #76 closed, assigned to frangio

[2020-08-07 19:15] frangio opened #104 "Detect Truffle < 5.1.35"
The Truffle plugin only works with Truffle >=5.1.35. We can detect if the user is on an older version and print a nicer error.

[2020-08-07 19:20] #104 closed, assigned to nobody

[2020-08-07 19:38] frangio opened #106 "Create content explaining remaining validation errors"
Some validations don't have an accompanying link to explain more details about the problem. See #105 and #53.

[2020-08-07 19:38] spalladino opened #107 "Add new prepareUpgrade function"
Add a `prepareUpgrade` (name can be discussed) function, that runs validations, deploys implementation contract, and returns the impl contract address, but does not actually upgrade the proxy. This way, a user could run `prepareUpgrade`, grab the returned address, and paste it on the gnosis safe app.

[2020-08-07 19:40] #53 closed, assigned to nobody

[2020-08-07 19:47] frangio opened #108 "Set up TypeDoc for API documentation generation"
https://github.com/TypeStrong/typedoc

[2020-08-07 21:32] #11 closed, assigned to nobody

[2020-08-07 21:44] #57 closed, assigned to nobody

[2020-08-10 18:37] #60 closed, assigned to spalladino

[2020-08-10 19:01] frangio opened #115 "Deduplicate testing contracts"
See [/packages/plugin-buidler/test/contracts](https://github.com/OpenZeppelin/openzeppelin-upgrades/tree/master/packages/plugin-buidler/test/contracts) and [/packages/plugin-truffle/test/contracts](https://github.com/OpenZeppelin/openzeppelin-upgrades/tree/master/packages/plugin-truffle/test/contracts).

We should try to put all these in a common directory and use a symlink to reuse in both test s

[2020-08-10 22:20] #99 closed, assigned to spalladino

[2020-08-10 22:31] #51 closed, assigned to martriay

[2020-08-10 23:43] #107 closed, assigned to spalladino

[2020-08-11 17:53] #13 closed, assigned to nobody

[2020-08-12 20:41] #59 closed, assigned to nobody

[2020-08-13 15:17] frangio opened #118 "Lookup by address can break due to Buidler determinism"
Before an upgrade we look up the impl by address. Since Buidler runs are determinstic different contracts from different Buidler EVM runs can end up in the same address, as shown below.

![](https://user-images.githubusercontent.com/481465/90152228-fa582880-dd5d-11ea-8d86-b801c4ae4afa.png)

Potential fixes:

1. Look for duplicate addresses when storing a new impl.
1. Index impls in the manifest by

[2020-08-13 21:27] frangio opened #121 "Add links in relevant docs site pages"
We should have a link to the plugins repo in the relevant pages in the docs site like:

- https://docs.openzeppelin.com/learn/upgrading-smart-contracts
- https://docs.openzeppelin.com/upgrades/2.8/
- https://docs.openzeppelin.com/cli/2.8/

Maybe a "TIP" block would look good.

[2020-08-14 07:05] abcoathup opened #122 "buidler: await box.deployed(); when used in deploy script gives error UNSUPPORTED_OPERATION"
The example (from: https://github.com/OpenZeppelin/openzeppelin-upgrades/blob/master/packages/plugin-buidler/README.md#usage-in-scripts) contains `await box.deployed();` which when used in a deploy script to a public network gives error UNSUPPORTED_OPERATION
[code]

---

I have the following deploy script:
[code]
Which when run gives an error:
[code]

[2020-08-14 14:14] frangio opened #123 "Add plugin to Buidler docs sidebar"
See Plugins section in the sidebar at: https://buidler.dev/getting-started

We have to submit a PR editing this file: https://github.com/nomiclabs/buidler/blob/development/docs/.vuepress/plugins.js

Additionally we should probably add the [Buidler badge](https://buidler.dev/buidler-plugin-badge.svg) in our Buidler readme

[2020-08-14 14:41] frangio opened #124 "Add a FAQ entry for Truffle full recompilation requirement"
Explain this error and add a link in it to the explanation.

https://github.com/OpenZeppelin/openzeppelin-upgrades/blob/298dc0e4462e039e963d88f29787cd29a7f82218/packages/plugin-truffle/src/validate.ts#L61

[2020-08-14 14:42] #118 closed, assigned to frangio

[2020-08-14 21:44] frangio opened #126 "Readme adjustments"
- [ ] Split Quickstart in Buidler & Truffle subsections

[2020-08-14 22:28] #106 closed, assigned to martriay

[2020-08-18 15:28] frangio opened #130 "Support `truffle console`"
It's not possbile to use the plugin in Truffle console due to the missing global `config` variable. This is similar to #81. The fix should be a PR to Truffle to add the global `config` variable in the console.

[2020-08-18 21:08] #122 closed

[2020-08-18 22:53] frangio opened #131 "Validate initializer argumets before sending any transactions"

[2020-08-18 23:53] #124 closed

[2020-08-19 14:47] frangio commented on #85
We potentially want these settings to be granular since each function can correspond to multiple transactions.

[2020-08-20 10:05] mverzilli opened #135 "deployProxy prints errors to the console and reports deployment failed even though the deployment succeeded"
I succeeded to deploy a proxy and its implementation but the script is throwing. You can verify that the contract was actually deployed and the contract architecture is correct: https://rinkeby.etherscan.io/address/0xb4463a644DD6E16ccF518df5b8bf0fB9b36ef68c

[code]

The script I ran is based on the quickstart example:

[code]

The contract code is:

[code]

[2020-08-20 10:31] mverzilli opened #136 "Let users ask for a new ProxyAdmin to be created or detect when ownership of it was transferred"
I don't want to be prescriptive with this, so I'll do my best to explain the use case instead of suggesting solutions as in the title :).

1. I deploy an upgradeable contract (C1) using `deployProxy`.
2. I then `transferOwnership` of the ProxyAdmin to a multisig (let's call it M1).
3. I now deploy another contract (C2) using `deployProxy`.
4. I want another multisig (M2) to control this contract,

[2020-08-20 16:17] #126 closed

[2020-08-20 20:21] spalladino opened #137 "Register proxies in buidler node for logging purposes"
Buidler's wrapper around ethereumjs-vm, `buidler node`, provides meaningful logs regarding contract deployment, since it recognizes each contract from its bytecode:
[code]

However, when deploying a proxy, the operation is shown on an `UnrecognizedContract`. See if it's possible to add `buidler_addCompilationResult` or a similar method to register the proxies, so they show as `Proxy` in the logs.

[2020-08-20 20:47] frangio commented on #137
This is not possible in Buidler yet but it's a feature they're building. I think the issue is https://github.com/nomiclabs/buidler/issues/553.

[2020-08-20 20:50] frangio commented on #135
This may be related to #122. `myContract.deployed()` was not working, it was fixed in `master` but I've only published it now. Can you try again and let me know if it works?

[2020-08-20 21:10] frangio commented on #136
Interesting!

That's definitely quite extreme, because you're also losing the C1 deployment which you may want to reuse later. A more specific workaround would be to open the network file and delete the `admin` field so that a new one is deployed.

---

There's several ways to approach this.

1. Letting the user "forget" the current admin (an `admin.forget()` function).
2. Managing multiple admins

[2020-08-20 21:25] frangio commented on #137
I was mistaken, it's already possible using the RPC method you mentioned.

Here's an example how to use it:

https://github.com/nomiclabs/buidler/blob/ec399160290a63f9fb247841b84af1ee2975bb6f/packages/buidler-core/src/builtin-tasks/utils/watch.ts#L49-L53

(Note that `compilerVersion` is the version of solc without a leading `v`, e.g. `"0.6.0"`.)

[2020-08-20 22:01] frangio commented on #135
Fixed in #129 and released in 1.0.1.

[2020-08-20 22:01] #135 closed

[2020-08-21 23:03] #121 closed, assigned to nobody

[2020-08-25 19:34] frangio opened #141 "Prepare content for publishing on docs site"
Should mostly be based on the existing content we have in README files.

Structure:

- Overview
- Using with Truffle
- Using with Buidler
- Network Files
- FAQ
- API Reference
  - Truffle
  - Buidler

We should also include the general upgradeabilty content that is currently found in Upgrades, and some from CLI.

- [Writing Upgradeable Contracts](https://docs.openzeppelin.com/upgrades/2.8/writing-

[2020-08-28 15:11] frangio opened #144 "Offer an unsafeAllowLibraries option"
In the same way we have `unsafeAllowCustomTypes` we could offer `unsafeAllowLibraries` to work around the lack of support for external libraries until we implement it (#52).

Note that this is probably not trivial as simply ignoring the error, because linking libraries changes the bytecode hash, and this may break other assumptions we have. We may want to store in the network file the bytecode pos

[2020-08-28 21:55] #10 closed

[2020-08-29 15:55] alcuadrado opened #145 "Including type-extensions.d.ts in the npm package"
Hi

We just received some feedback that `buidler-upgrades` can't be easily used with typescript.

I think you just forgot to include the `type-extensions.d.ts` in the npm package. I checked, and there's one in `src/`, but that folder is not present in the package.

[2020-08-29 17:40] thegostep opened #146 "does not handle initialize function overloading"
![image](https://user-images.githubusercontent.com/15959632/91642915-042b8e00-e9e4-11ea-8fac-e5dc04bf556c.png)

![image](https://user-images.githubusercontent.com/15959632/91642919-0857ab80-e9e4-11ea-8053-7ee36ab5c522.png)

[2020-08-29 17:42] thegostep commented on #146
`Interface.getFunction()` needs to use the full initialize function signature to pull the correct abi https://docs.ethers.io/v5/api/utils/abi/interface/#Interface--specifying-fragments

[2020-08-29 17:53] thegostep commented on #146
need to modify this line to use signature or sighash

https://github.com/OpenZeppelin/openzeppelin-upgrades/blob/master/packages/plugin-buidler/src/deploy-proxy.ts#L59

[2020-08-31 08:42] abcoathup commented on #146
Hi @thegostep!  I’m sorry that you had this issue.

We have been able to reproduce this issue by following these steps:
1. Create a simple contract with two functions with the same name but different number of parameters
2. In a Buidler test, attempt to call `deployProxy` specifying the function as the initializer and provide the appropriate parameters.
3. The test errors with `Error: multiple mat

[2020-08-31 08:43] abcoathup commented on #145
Hi @alcuadrado!  Thanks so much for reporting the issue and passing on the feedback!
The project owner will review and triage this issue as soon as they can.

[2020-08-31 16:33] frangio commented on #146
Thanks a lot for reporting this @thegostep!

I opened https://github.com/OpenZeppelin/openzeppelin-upgrades/pull/149 to fix it by using `Interface.getFunction` from Ethers. Once we release the fix it should be possible to use all of [function name, signature, or selector](https://docs.ethers.io/v5/api/utils/abi/interface/#Interface--specifying-fragments) to specify the chosen initializer.

[2020-08-31 19:06] frangio commented on #145
Thanks @alcuadrado. Totally forgot to include that file in the package. Will release together with #149 once that's merged.

[2020-08-31 21:45] #145 closed

[2020-08-31 23:06] #146 closed

[2020-09-01 15:51] frangio commented on #146
The fix has been released in `@openzeppelin/buidler-upgrades@1.0.2`.

[2020-09-01 15:52] frangio commented on #145
The fix has been released in `@openzeppelin/buidler-upgrades@1.0.2`.

[2020-09-01 22:39] frangio commented on #95
Our current thinking is that we want the plugins to fully check storage compatibility including structs and enums.

[2020-09-01 22:39] frangio opened #152 "Store struct and enum members in storage layout info"
We are not storing struct and enum members in the storage layout for deployed impls. We should extract this information and store it as well, since it will be a prerequisite for https://github.com/OpenZeppelin/openzeppelin-upgrades/issues/95.

https://github.com/OpenZeppelin/openzeppelin-upgrades/blob/608f133bca3500e8721c0867ed9a534e7353aa20/packages/core/src/storage.ts#L17-L19

[2020-09-02 08:42] abcoathup opened #153 "Update Buidler API docs for overloaded initializers in deployProxy"
We use the native [`Interface.getFunction`](https://docs.ethers.io/v5/api/utils/abi/interface/#Interface--fragments) function provided by Ethers, which supports all of: names, signatures, and selectors.

This should be reflected in the Buidler API docs. See [Specifying Fragments](https://docs.ethers.io/v5/api/utils/abi/interface/#Interface--specifying-fragments) in the Ethers documentation for the

[2020-09-02 08:49] abcoathup commented on #62
Additionaly in docs we should provide an example of using an upgrade function and how to appropriately guard it so that it is only called once.

There have been two recent issues in the forum where community members have tried to protect an upgrade function with the `initializer` modifer.

* https://forum.openzeppelin.com/t/error-upgrading-smart-contracts/3679
* https://forum.openzeppelin.com/t/ad

[2020-09-02 14:38] frangio commented on #141
See branch [`docs`](https://github.com/OpenZeppelin/openzeppelin-upgrades/tree/docs).

[2020-09-02 14:40] frangio commented on #12
Superceded by https://github.com/OpenZeppelin/openzeppelin-upgrades/issues/141.

[2020-09-02 14:40] #12 closed

[2020-09-04 22:49] frangio commented on #141
[Published!](https://docs.openzeppelin.com/upgrades-plugins/1.x/)

We'll soon remove the API docs from the readmes in the repo in favor of the docs site.

[2020-09-04 22:49] #141 closed

[2020-09-05 12:35] thegostep opened #154 "Which packages to use for solc v0.4?"
This is more of a support Q but figured you may be able to help out.

https://forum.openzeppelin.com/t/how-to-use-solidity-v4-with-openzeppelin-upgrades/3727

[2020-09-07 19:41] frangio opened #159 "Validate free functions in Solidity 0.7.1"
Solidity 0.7.1 [introduces](https://solidity.ethereum.org/2020/09/02/solidity-0.7.1-release-announcement/) file-level free functions, which the plugins have to validate for upgrade safety. They behave just like internal library functions, and the implementation in the plugins should be the same too.

We have to get all referenced free functions, and then also run the appropriate validations in the

[2020-09-07 21:10] frangio commented on #154
As I replied on the forum, for Solidity 0.4 you can install `openzeppelin-eth@2.0.2-standalone` which doesn't have a peer dependency on `zos-lib`.

[2020-09-07 21:10] #154 closed

[2020-09-07 22:14] frangio opened #160 "Detect issues in parent initializer calls"
From [Slither's upgradeability checks](https://github.com/crytic/slither/wiki/Upgradeability-Checks#initialize-functions-are-not-called).

We can try to detect issues with parent initializer calls, concretely whether they are 1) missing, 2) duplicate, or 3) incorrectly linearized.

The main question is how we detect what is an initializer function. We could look for an `initializer` modifier, or f

[2020-09-08 05:14] rstormsf opened #161 "Why upgrades-core doesn't include Proxy contracts source code?"
https://github.com/OpenZeppelin/openzeppelin-upgrades/blob/master/packages/core/package.json#L7

Now, I can't do something like:
[code]

[2020-09-08 05:21] abcoathup commented on #161
Hi @rstormsf ,

Proxy contracts have been moved to OpenZeppelin Contracts since v3.2
https://forum.openzeppelin.com/t/openzeppelin-contracts-3-2-release-candidate/3718

[2020-09-08 08:00] rstormsf commented on #161
got it. thx!

[2020-09-08 08:59] abcoathup commented on #161
Closing this issue as resolved.

[2020-09-08 08:59] #161 closed

[2020-09-08 14:37] frangio commented on #161
Yes, this package will probably soon be changed to use the contracts directly from OpenZeppelin Contracts too.

@rstormsf I would love to know what kind of setup you have and in what way you plan to use the proxy contracts. Are you planning to use the Buidler or Truffle plugins too?

[2020-09-10 15:16] shamb0 opened #163 "HOWTO use "openzeppelin/buidler-upgrades" in buidler | "error TS2305: Module '"../node_modules/@nomiclabs/buidler/internal/lib/buidler-lib"' has no exported member 'upgrades'.""
Hi,

Looking for some support, Trying to bring up some reference repo ( https://github.com/shamb0/cl-chg-2020-agem.git ). I am using Buidler and trying to integrate "openzeppelin/buidler-upgrades".

**blocked by below error ...**

![](https://i.imgur.com/ZkAbOGn.png)

**buidler.config.ts** config ...

![](https://i.imgur.com/zn2ELC5.png)

**package.json** dependency config ...

![](https://i.imgur

[2020-09-10 15:33] frangio commented on #163
Hi @shamb0! This is a TypeScript error that can be fixed by adding our type definitions in your `tsconfig.json` file:

[code]

I'll add this in our documentation.

[2020-09-10 15:39] frangio commented on #163
Documented in https://github.com/OpenZeppelin/openzeppelin-upgrades/commit/4b98d48d8e4156880a4020e8c6d18ec0679e8507.

[2020-09-10 15:39] #163 closed

[2020-09-10 15:43] shamb0 commented on #163
Cool, Thanks @frangio for Quick support, did the suggested changes but landed up in some other error ...

![](https://i.imgur.com/PDkTxgP.png)

[code]
Thanks

[2020-09-10 15:44] shamb0 commented on #163
May be shall I remove "@openzeppelin/upgrades-core" from dependency ...

[2020-09-10 15:46] frangio commented on #163
Can you try enabling `esModuleInterop` in your TypeScript configuration?

It's `"esModuleInterop": true` in `"compilerOptions"`.

[2020-09-10 15:49] frangio opened #164 "Use proxies from OpenZeppelin Contracts package"
The proxy contracts will be a part of OpenZeppelin Contracts starting at version 3.2. We should use the contracts directly from there, instead of vendoring them into upgrades-core.

[2020-09-10 16:10] shamb0 commented on #163
Great now its working, Thanks a lot. :+1:

[2020-09-14 06:16] abcoathup opened #167 "Allow implementation contracts with potentially unsafe operations (delegatecall or selfdestruct)"
Allow implementation contracts with potentially unsafe operations (delegatecall or selfdestruct) via a flag such as `unsafeAllowPotentiallyUnsafeOperations`

Users who are aware of the risks but still want to proceed should be able to set a flag to allow.

Some examples of community members who have run into this restriction either with the plugins or the CLI:
https://t.me/zeppelinos/14628
https:/

[2020-09-14 16:31] frangio commented on #167
I'm not fond of the proposed flag. I would prefer a more granular approach allowing users to ignore a specific delegatecall or selfdestruct statement. This could be implemented via comments in the source code, although I don't know if the AST produced by solc includes comments.

[2020-09-14 18:50] frangio opened #168 "Check assembly blocks for unsafe operations"
Our check for unsafe operations (selfdestruct, delegatecall) doesn't check assembly blocks. Note that the type for [`InlineAssembly`](https://solidity-ast.netlify.app/interfaces/inlineassembly) in `solidity-ast` is incomplete.

[2020-09-15 02:35] abcoathup opened #169 ""Variable ... assigned an initial value" incorrectly reported with Solidity 0.7.1"
Following the [Truffle Upgrades guide](https://forum.openzeppelin.com/t/openzeppelin-truffle-upgrades/3579) using Solidity 0.7.1 incorrectly reports "Variable ... assigned an initial value"

[code]

Changing the compiler to 0.7.0 and removing the build directory and the test passes successfully.
[code]

The same issue occurs with the Buidler plugin
[code]
---

## Box.sol
[code]

## Box.proxy.test.

[2020-09-15 14:33] frangio opened #170 "Automatically run tests on new Solidity releases"
We're not detecting potential issues with new Solidity releases such as #169.

Some potential ways to do this:
- Always compile with the latest Solidity version. It may not be desirable to always ship contracts compiled with different versions. Among other things, each new version would require separate verification on Etherscan. However, see #164.
- Trigger a test run with every new Solidity rele

[2020-09-15 20:51] #169 closed

[2020-09-16 21:55] martriay commented on #169
This fix has been released in [@openzeppelin/upgrades-core@1.0.2](https://github.com/OpenZeppelin/openzeppelin-upgrades/releases/tag/%40openzeppelin%2Fupgrades-core%401.0.2)

[2020-09-17 00:18] frangio opened #173 "Provide an instance of ProxyAdmin in the admin module"
We allow people to transfer ownership of the `ProxyAdmin` but don't provide access to the admin address, except through the network manifest file.

We can provide an instance of a `ProxyAdmin` contract abstraction attached to the right address. Furthermore, we can configure this instance so that the default sender is the owner of the contract. This will be very useful for people.

This sounds like

[2020-09-17 01:24] abcoathup commented on #173
There could be an `admin.owner` or `admin.proxyAdminOwner` to expose the admin address (as there is `admin.transferProxyAdminOwnership`)
Then a `ProxyAdmin` could be used at that address to perform the upgrade.

[2020-09-17 07:59] mverzilli opened #174 "Add a suggested solution to 'Deployment at address ... is not registered'"
I tried to call `prepareUpgrade` with a proxy address that is not registered in `.openzeppelin` and got this error message:

`Error: Deployment at address 0xfDf2E8257d5E3667Cb744348362AeE1ECFF24125 is not registered`

It'd be nice if, after that message, the function could add a suggestion on how to fix it. Something like:

`If you want to prepare an upgrade for a proxy at that address, register i

[2020-09-17 14:36] frangio opened #175 "Register impls in network file when source is available"
Some users may want to register an existing proxy for use with the plugins. It's possible to do this if the source code for the implementation is available. We should try to do this automatically on `deployProxy` and `upgradeProxy`, and maybe provide a way for the user to trigger it manually.

Related to https://github.com/OpenZeppelin/openzeppelin-upgrades/issues/174.

[2020-09-17 14:38] frangio commented on #174
It's not currently possible to register an existing proxy. Created https://github.com/OpenZeppelin/openzeppelin-upgrades/issues/175 to track that feature. The difficulty lies in that we need the source code to calculate the current storage layout of the proxy.

We could still make this error friendlier by explaining that it can currently only be used with proxie deployed by the plugins.

[2020-09-17 14:40] frangio commented on #173
I think it will be better for users if we provide the `ProxyAdmin` instance directly. The address, and even the owner address, can be obtained from there.

[2020-09-18 13:00] allemanfredi opened #176 "Error: Artifact does not contain AST"
Hey guys! Just tried to use the plugin but when i try to use __`deployProxy`__ within tests i receive the following error: `Error: Artifact does not contain AST`.

Solidity version: 0.7.1
Truffle version: 5.1.35
Node: 12.16.2
@openzeppelin/truffle-upgrades: 1.0.2

[2020-09-18 17:57] frangio commented on #176
Hi @allemanfredi, I wasn't able to reproduce this issue. The setup below worked for me:

[code]

[code]

[code]

Can you share more details about your setup and files and the exact steps you're following?

[2020-09-18 22:57] #15 closed

[2020-09-18 23:37] frangio opened #177 "Add documentation for OZ CLI migration script"

[2020-09-19 08:25] allemanfredi commented on #176
Thanks for your response! i saw that you don't use  __Initializable__ contract and __initializer__ modifier. Could this be the problem?

This is my setup:

[code]

[code]
[code]

[2020-09-19 16:49] julianmrodri commented on #176
Hi @allemanfredi I was able to run the scenario you mention successfully with the same environment.

One thing I noticed is that `Initializable` has to be imported from the `@openzeppelin/contracts` package in order to support version `0.7.1` (as the one included in `@openzeppelin/truffle-upgrades@1.02` does not support it.

Are you sure you are importing the correct version? Also can you check if

[2020-09-20 23:53] abcoathup opened #178 "Add documentation to use OpenZeppelin Contracts Upgradeable fork"
Add documentation on using OpenZeppelin Contracts Upgrade Safe fork to Upgrades Plugins documentation.

Community feedback is that this would be helpful and avoid community from using OpenZeppelin Contracts when they need to use the Upgrade Safe fork:
https://forum.openzeppelin.com/t/how-to-use-ownable-with-upgradeable-contract/3336/10?u=abcoathup

[2020-09-21 02:50] abcoathup opened #181 "Support specifying address to deploy from"
Support specifying address to deploy from, e.g. `deployProxy(..., {deployer, from: accounts[1]})`

Truffle uses the default account (accounts[0]) for `deployProxy` in tests and migrations and there doesn't appear to be a way to specify a from option (unless this is part of the Deployer object).

Raised in the community forum: https://forum.openzeppelin.com/t/setting-the-from-address-for-a-proxy-de

[2020-09-21 05:56] allemanfredi commented on #176
Yes i'm using the right version of `Initializable`. I try again and i'll let you know! thanks for your help!

[2020-09-21 13:18] thegostep opened #183 "PrepareUpgradeFunction missing from type-extenstions"
https://github.com/OpenZeppelin/openzeppelin-upgrades/blob/4f2a046804774cc10e15c989afdfc8a3d4bc176a/packages/plugin-buidler/src/type-extensions.d.ts#L8-L11

[2020-09-21 13:40] thegostep opened #185 "add option to return populated upgrade transaction"
Returning a populated upgrade transaction would allow me to craft and send the transaction through a multisig instead of the buidler signer

[2020-09-24 13:22] miketeix opened #186 "Deploying Upgradable Contracts Failed half way due to rising gas prices"
Hi there, our contract deployment failed on mainnet half way through the process due to rising gas prices. Any idea if I can resume where it left off when the prices lower again / are more stable?

[2020-09-25 04:36] abcoathup commented on #186
Hi @miketeix,

I am sorry to hear that you are being impacted by network congestion.

When an upgradeable project is first deployed, three contracts are deployed.

1. The logic contract
2. The ProxyAdmin
3. The proxy contract pointing to the logic contract along with calling the initialization logic.

Which transactions have been successful?

You can manually modify [`mainnet.json`](https://docs.o

[2020-09-25 05:09] abcoathup commented on #185
Hi @thegostep!  Thanks for the suggestion, it is really appreciated.

The project owner will review your suggestion as soon as they can.

Please wait until we have discussed this idea before writing any code or submitting a Pull Request, so we can go through the design beforehand.  We don’t want you to waste your time!

[2020-09-25 07:13] naiba opened #187 "Can not verify proxy contract deployed by @openzeppelin/truffle-upgrades v1.0.2"
Hi there, I just deployed a contract using @openzeppelin/truffle-upgrades v1.0.2,
Then I flattened the source code to a single file,
Proxy address: `hidden` (mainnet, etherscan),

How could I verify this contact? I found the compiler version in bytecode v0.6.8, optimized no, runs 200, still not working.

This is contract code:

<details>
  <summary>Source code</summary>

[code]
</details>

[2020-09-25 15:58] naiba commented on #187
Sorry to bother you on the weekend, Our product is about to be released, and I didn't expect to be stuck in this matter. I found some methods provided here to test.

- https://forum.openzeppelin.com/t/verify-proxy-contract/1989
- https://twitter.com/rstormsf/status/1118961940192083969?s=20

But it still cannot be verified. Why is the source code verification in upgrade-core v1.0.2 unsuccessful? (s

[2020-09-25 23:46] abcoathup commented on #187
Hi @naiba,
I used the following method to verify on Kovan.
https://forum.openzeppelin.com/t/verify-upgrades-plugins-proxy-on-etherscan/3920

If you run into issues, let me know.

[2020-09-26 03:33] naiba commented on #187
Hi @abcoathup ,

I tried this way to verify the contracts but after that, I compared the `artifacts/AdminUpgradeabilityProxy.json` and `node_modules/@openzeppelin/upgrades-core/artifacts/AdminUpgradeabilityProxy.json` in the project folder I was deployed

`bytecode` and `deployedBytecode` do not match, so I think it probably can not pass the verification.

- contracts file copied from 6e2bed0 `pac

[2020-09-26 04:28] naiba commented on #187
Hi @abcoathup ,

I've completed the guide. It's not working, I uploaded my example project and setting done the arguments.js
Please help verify the proxy contract 😭 .

implementation contract constructor:

[code]

This is the whole folder: (have to spec the API key in `buidler.config.js`)
[issue187-verify.zip](https://github.com/OpenZeppelin/openzeppelin-upgrades/files/5286166/issue187-verify.zip)

[2020-09-26 05:26] loki-sama commented on #186
Thanks a lot that was very helpful.

[2020-09-27 00:33] naiba commented on #187
Hi, I exported the contract source code in https://forum.openzeppelin.com/t/verify-upgrades-plugins-proxy-on-etherscan/3920 with this solution https://twitter.com/rstormsf/status/1118961940192083969?s=20 it works.

[2020-09-27 00:33] #187 closed

[2020-09-28 02:14] abcoathup commented on #187
Hi @naiba,

I am glad you were able to verify.  I have had internet issues all weekend so have struggled to get online at all, apologies that I couldn't help more.

[2020-09-28 02:25] naiba commented on #187
@abcoathup never mind

[2020-09-28 14:25] miketeix commented on #186
Indeed, thanks for the reply!

[2020-09-28 14:25] #186 closed

[2020-10-01 22:21] #183 closed

[2020-10-01 22:24] frangio commented on #176
@allemanfredi Were you able to solve this issue?

[2020-10-01 22:38] frangio commented on #185
I see how this could be useful. We built `prepareUpgrade` with this in mind but we could have gone the extra mile and returned the transaction instead of just the implementation address. I can see this being even more useful in the future if we support alternative proxy implementations/interfaces.

It would be a breaking change to change `prepareUpgrade`'s return value in that way but we could add

[2020-10-01 22:42] frangio commented on #186
@miketeix @loki-sama Can you please clarify if your question was about the OpenZeppelin CLI or about the OpenZeppelin Upgrades Plugins?

I think @abcoathup's reply was about the CLI.

As for the plugins, you can rerun an operation and it will resume where it left off.

[2020-10-01 22:49] frangio commented on #181
Duplicate of https://github.com/OpenZeppelin/openzeppelin-upgrades/issues/85.

[2020-10-01 22:49] #181 closed

[2020-10-02 19:52] allemanfredi commented on #176
@frangio Unfortunately i didn't try anymore.

[2020-10-05 18:11] frangio opened #190 "Test with Solidity 0.4"
A user (I think it was @mod) reported issues using a contract that had been compiled with Solidity 0.4. This may be due to Solidity or an older version of Truffle.

[code]

[2020-10-07 19:25] martriay opened #192 "Migration script doesn't work with zosversion"
Today the CLI to Plugins migration script [only takes `manifestVersion: "2.2"` as valid input](https://github.com/OpenZeppelin/openzeppelin-upgrades/blob/master/packages/core/src/scripts/migrate-oz-cli-project.ts#L82) but at the same time some CLI projects might have `zosversion: "2.2"` due to legacy naming.

[code]

We should support both keys the same way the CLI does:
[code]

[2020-10-07 20:24] #144 closed

[2020-10-07 21:53] #192 closed

[2020-10-10 23:15] davidlucid commented on #95
Hey all, any news on this?

[2020-10-11 14:45] julianmrodri commented on #159
Hi, did some research on this.  It is **not that straightforward** but can certainly be accommodated in the current process with a few changes:

The main issues are:
1. These functions show up in `solc-output` as isolated `FunctionDefinition`, so with the current process they are not even picked up for validation (as we only analyze `ContractDefinition` which included Libraries).
2. The function c

[2020-10-11 18:16] julianmrodri commented on #159
Another possible approach (which I haven't tried)  is to generate a new in-memory structure `freeFunctions` which will have all the free functions used and their errors.

[code]
We can populate it like this:

[code]

Then as part of the **error processing** for each `Contract` we can have a `getFreeFunctionErrors()` function that we can call to get all the errors of the references "free functions"

[2020-10-11 22:21] julianmrodri commented on #190
I ran some initial tests and can confirm at least that the Truffle plugin tests work fine for versions >= `0.4.22` and <= `0.4.26` (latest release).  I was able to run the provided tests smoothly using Truffle `v5.1.47`.

To test prior versions of Solidity we would need to do some changes to the contracts,  I did a few tests adapting some of them but couldn't get the error mentioned in this issue

[2020-10-13 16:03] frangio commented on #95
Hi @davidlucid. We plan to implement full support for checking structs and enums but I can't give you a timeline yet.

Can you share more details about your own project? Are you using the plugins already? Do your contracts have structs, enums, or both?

[2020-10-13 18:46] frangio commented on #190
@julianmrodri Thanks for testing this! I have no more details of how the error occurred, but they did imply that it was an old artifact that had been in the repository. I'm thinking perhaps it had been generated by Truffle v4, though they didn't specify.

[2020-10-13 18:56] julianmrodri commented on #190
Ok will look into downgrading to `Truffle v4`.  I see it more likely coming from that than from the Solidity version.

[2020-10-13 19:19] frangio commented on #159
@julianmrodri Thank you so much for doing this work! :blush: I agree with most of what you said.

I think I would go with the in-memory approach, "flattening" free function errors into the contract when validations are constructed, rather than later in `getErrors`. I don't like the idea of overloading the `Validation` record to store functions as well, because there could be name clashes between f

[2020-10-13 21:07] julianmrodri commented on #159
@frangio yes! I havent thought about that connection with Libraries, good catch.

What should we do with for testing this feature? The current `truffle` and `buidler` projects are using `v0.5`, and for `core` we use `v0.6`.  Now we need to create a contract and test cases for `v0.7`. Let me know what is the best approach and i can implement.

[2020-10-13 21:16] frangio commented on #159
I would be fine with upgrading truffle and buidler tests to solc 0.7.

[2020-10-15 14:28] stefek99 opened #198 "Using Proxy contracts from the main contracts repo?"
Here: https://github.com/OpenZeppelin/openzeppelin-upgrades/tree/master/packages/core/contracts/proxy

And here: https://github.com/OpenZeppelin/openzeppelin-contracts/tree/master/contracts/proxy

### Almost the same but slightly different 😎

![image](https://user-images.githubusercontent.com/249703/96143527-1497b980-0efb-11eb-8814-ea5d57b48809.png)

[2020-10-15 14:47] frangio commented on #198
See #164.

[2020-10-15 14:47] #198 closed

[2020-10-15 15:49] frangio opened #199 "Check that enum representation doesn't change across upgrades"
Enums are represented as the smallest integer type that can hold its numeric values. This not only affects internal representation (i.e. storage layout), but also ABI encoding, and can thus change function selectors if the enum is an argument.

As part of enum support (#95) we should check that an enum does not change its size when upgraded.

[2020-10-15 17:21] davidlucid commented on #95
Thank you so much! @frangio I am indeed using the Truffle plugin in [`rari-stable-pool-contracts`](https://github.com/Rari-Capital/rari-stable-pool-contracts). I have structs and enums in `RariFundManager` which is deployed via `deployProxy`.

[2020-10-16 10:22] stefek99 commented on #198
Duplicate, of course.

BTW... I've just learnt that the Proxy and ProxyAdmin are precompiled!

Very interesting: https://forum.openzeppelin.com/t/add-instructions-on-how-to-verify-to-step-by-step-guides-for-using-upgrades-plugins/4148/3

[2020-10-21 07:00] chenfux opened #202 "Add option to support delay initialize"
Sometime, A implementation neet to delayed initialize.  I modify the source of npm package to do this. But it's very cumbersome to modify every time。

usage:

```await deployProxy(Env, [], { deployer: deployer, unsafeAllowCustomTypes: true, skipInitialize: true });```

in npm package:

[code]

[code]

[2020-10-21 12:28] tsudmi opened #203 "Fails to deploy proxy without calling initialize"
Hi,

According to docs it should be possible to deploy proxy without calling initialize.
[code]
The code above fails with an error:
[code]

[2020-10-21 12:49] julianmrodri commented on #203
I believe it will always call `initialize` when deploying for the first time. In your case its expecting parameters for that call.

Can you point to the section of the docs where its says you can deploy Proxies without calling `initialize`?

[2020-10-21 13:56] tsudmi commented on #203
Hi @julianmrodri , thanks for the quick response.

I found it here: https://docs.openzeppelin.com/upgrades-plugins/1.x/api-buidler-upgrades#deploy-proxy
"**If args is set**, will call an initializer function initialize with the supplied args during proxy deployment."

Also, according to [allowNoInitialization](https://github.com/OpenZeppelin/openzeppelin-upgrades/blob/master/packages/plugin-buidle

[2020-10-21 14:14] julianmrodri commented on #203
Thanks! Yes, you are right. Looks there might an issue then.  The challenge I see is how it can differentiate to not call the initialize vs call it but with no params.

[2020-10-21 14:58] frangio commented on #203
Thanks for reporting!

In this case the documentation is not representing the intended behavior. If there is a function called `initialize`, `deployProxy` will always attempt to call it. (The variable `allowNoInitialization` is only used if the default initializer name is not found.)

If you want to work around this for now, you can change your contract so the "initializer" is calld something othe

[2020-10-21 16:33] tsudmi commented on #203
Hi @frangio ,

For now, I've overridden the `deployProxy` function for the cases where I want to call `initialize` manually:
[code]

I have two contracts that would like to know each other addresses. I would like to deploy proxies for both and call `initialize` with the resulting addresses. It seems like this use case is not supported currently.

[2020-10-21 18:45] frangio commented on #203
@tsudmi Rather than overriding internal functionality of the library I would recommend using the workaround I described above. You can, for example, change your initializer function to a different name like `setup`. If you do this (and do not specify `initializer: "setup"` as an option), `deployProxy` will deploy without initializing, and you can call initialization separately.

[2020-10-21 19:02] #202 closed

[2020-10-21 19:02] #203 closed

[2020-10-21 19:09] frangio commented on #203
@tsudmi I've added the ability to skip initialization by specifying `initializer: false`.

[2020-10-21 19:10] frangio commented on #202
@chenfux I've added the ability to skip initialization by specifying `initializer: false`.

It's published in version 1.2.1.

[2020-10-21 19:10] tsudmi commented on #203
Thanks @frangio

[2020-10-23 15:58] frangio opened #206 "Migrate Buidler plugin to Hardhat"
Due to the [new way compilation works](https://hardhat.org/guides/compile-contracts.html), this is not as trivial as making the name change.

[2020-10-25 22:51] notsegfault commented on #206
+1

[2020-11-03 14:55] pedrobranco commented on #85
@frangio Agree, but at least the `from` option would be great to support.

[2020-11-05 21:10] marcelomorgado opened #215 "Do you plan to port ProxyFactory contract?"
Hi, I'm using `@openzeppelin/upgrades` dependency (from `openzeppelin-sdk` repo) because of the upgradability contracts. I see that the `core` package has some of the previous contracts but the `ProxyFactory` is missing. It's blocking me to upgrade my contracts because I'm using this contract ([that deploy function](https://github.com/OpenZeppelin/openzeppelin-sdk/blob/master/packages/lib/contract

[2020-11-10 09:26] andyunslashed opened #217 ""Artifacts are from different compiler runs" incorrect error using Windows Git Bash"
= Problem =

I have been trying to use deployProxy on WIndows (10, using Git Bash) but keeping getting the above error; my colleagues using Linux and MacOS have had no such issues, using the same versions of all tools as me.

= Investigation =
We investigated the code that produces the error (reconstructSolcInputOutput in packages/plugin-truffle/src/validate.ts) and have identified the problem.

i

[2020-11-12 14:12] #206 closed

[2020-11-12 20:56] frangio commented on #217
Thank you so much @andyunslashed! We've had this issue reported on Windows before but had no idea about the cause.

I will try to publish a fix as soon as possible.

[2020-11-13 04:55] robsecord opened #219 "hardhat-plugins has not been published"
this command fails:
`npm install --save-dev @openzeppelin/hardhat-upgrades`

with this error:
`'@openzeppelin/hardhat-upgrades@latest' is not in the npm registry.`

[2020-11-13 10:09] andyunslashed commented on #217
No problem! :)

Looking forward to seeing this fixed properly!

[2020-11-13 11:26] johannbarbie commented on #219
while not published, i'm using this as a workaround:

`npm install 'https://gitpkg.now.sh/OpenZeppelin/openzeppelin-upgrades/packages/plugin-hardhat?master'`

[2020-11-13 11:53] johannbarbie opened #220 "Module '"../node_modules/hardhat/internal/lib/hardhat-lib"' has no exported member 'upgrades'."
the documentation mentions this:

`import {ethers, upgrades} from 'hardhat';`

yet the hardhat rewrite of buidler does not export any `upgrades`.

[2020-11-13 12:44] frangio commented on #220
Hi @johannbarbie. What package have you installed? We merged the migration PR yesterday but haven't released it yet!

It will be released in a few hours today.

[2020-11-13 12:47] frangio commented on #219
Yes, we're sorting out the documentation (#218). The package will be released later today.

[2020-11-13 14:38] drbullock commented on #219
@johannbarbie did that work for you?

I'm getting this:
`ENOENT: no such file or directory, chmod 'C:\Token\node_modules\@openzeppelin\hardhat-upgrades\dist\scripts\migrate-oz-cli-project.js'`

[2020-11-13 15:05] frangio commented on #219
`@openzeppelin/hardhat-upgrades` has been released now.

[2020-11-13 15:05] #219 closed

[2020-11-13 15:19] frangio commented on #219
Please note there was an issue with `@openzeppelin/upgrades-core@1.3.0` (a dependency of `hardhat-upgrades`). You will need to make sure `@openzeppelin/upgrades-core@1.3.1` is installed.

[2020-11-13 15:20] frangio commented on #220
@johannbarbie `@openzeppelin/hardhat-ethers` has been released.

I cannot reproduce this issue, `upgrades` is correctly added to the Harhdhat environment. Let me know if you have issues.

[2020-11-13 15:20] #220 closed

[2020-11-13 15:36] frangio commented on #217
@andyunslashed I ended up fixing this in a different way, but it should work. Would you be able to test the prerelease version `@openzeppelin/truffle-upgrades@1.2.3-0` and let me know if it works?

[2020-11-13 16:03] drbullock opened #223 "Hardhat | Cannot read property 'deployProxy' of undefined"
I am using the latest `@openzeppelin/hardhat-upgrades` and running the sample script for Hardhat Upgrades, but I am getting this error:

`UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'deployProxy' of undefined`

This is the `packaje.json`:

[code]

[2020-11-13 16:33] frangio commented on #223
Please share your `hardhat.config.js`.

Do you have `require("@openzeppelin/hardhat-upgrades")` in it?

[2020-11-13 16:43] #217 closed

[2020-11-13 17:12] frangio commented on #215
Hi @marcelomorgado. The proxy contracts were moved from OpenZeppelin SDK to [OpenZeppelin Contracts](https://github.com/OpenZeppelin/openzeppelin-contracts). The upgrades plugins still haven't been updated to use those (see #164).

We have an issue for a proxy factory at https://github.com/OpenZeppelin/openzeppelin-contracts/issues/2339. However, it's not a priotity right now because it's possible

[2020-11-13 17:12] #215 closed

[2020-11-13 17:26] andyunslashed commented on #217
It works!

On behalf of all truffle contract upgrading Windows users everywhere (probably only 3 of us!) - thank you!

[2020-11-14 18:06] drbullock commented on #223
Yes, @frangio , that was a silly issue, can you please add that in the readme.

[2020-11-14 18:06] #223 closed

[2020-11-16 10:24] johannbarbie commented on #220
that was the issue, thanks

[2020-11-16 18:21] frangio commented on #223
Yes, good idea. https://github.com/OpenZeppelin/openzeppelin-upgrades/commit/c489338b9d1446fea93ee1dd3bd0cb0af212f8b2

[2020-11-18 03:17] abcoathup opened #226 "Add mechanism to reduce number of warnings printed"
Users setting `unsafeAllowCustomTypes` flag get verbose warnings which is shown every time a contract is deployed which is extremely noisy when running tests.
[code]

Ideally there would be a mechanism to show a single line warning once when using `unsafeAllowCustomTypes` flag.

Requested in community forum: https://forum.openzeppelin.com/t/logging-verbose-during-local-tests-with-upgradeable-contr

[2020-11-18 20:00] frangio opened #229 "Use a shared database of chain ids"
We currently have a hardcoded map of chainid -> name.

We could use the list at [chainid.network](https://chainid.network).

I have some concerns about the names potentially changing with time, and this losing the state on a network. This can already happen if an unknown network becomes known with a name. We have to support this situation gracefully.

[2020-11-19 09:19] tsudmi opened #230 "Address.sol from openzeppelin-contracts won't be supported in v3.3.0"
Hi

I've tried running openzeppelin-upgrades with libraries from openzeppelin-contracts `v3.3.0-rc.1` and seems like it won't be possible to use [Address.sol](https://github.com/OpenZeppelin/openzeppelin-contracts/blob/v3.3.0-rc.1/contracts/utils/Address.sol) as unsafe functions were added there:
[code]

[2020-11-19 09:35] thegostep opened #231 "Add support for custom proxy factory"
I've been playing around with various types of proxies and there is a fair bit of friction to putting them in prod due to poor testing infra.

Proxy examples:
https://github.com/onboardmoney/solidity-version-proxy
https://github.com/0age/Spawner

It would be great to be able to use the upgrades package and pass in a custom proxy factory

[2020-11-19 15:27] frangio commented on #231
We will be adding a beacon proxy like Dharma's in OpenZeppelin Contracts soon, so this is something we're interested in as well.

[2020-11-19 15:29] frangio commented on #230
Hi @tsudmi, thank you for reporting!

This is a good catch. Even if the unsafe functions are not used, the validation error will be triggered. We should fix this.

[2020-11-20 07:06] abcoathup opened #233 "Invalid deployment with Hardhat Network fork option"
Running tests multiple times or deploying multiple times to a hardhat public network fork (such as mainnet) errors with `Invalid deployment`

An `.openzeppelin/mainnet.json` network file is created for the first test or deploy and then trying again results in the issue.

Reported in the forum: https://forum.openzeppelin.com/t/hardhat-openzeppelin-upgrades-error-invalid-deployment-with-address-and-

[2020-11-20 07:43] sydneyitguy opened #234 "Compatibility with truffle-flattener"
It seems there's no easy way to create a flatten source code for `AdminUpgradeabilityProxy` at the moment because solidity source code is not included on the package and it's difficult to find the corresponding source code and compile options.

I failed verifying the `AdminUpgradeabilityProxy` on etherscan hundreds of times trying out all different versions of source code and compile options, but

[2020-11-20 13:50] frangio commented on #233
The issue here is that the first run stores the deployment in the network file that corresponds to the real network even though it only ran on a fork. The subsequent run will verify that the deployment it found can be reused by checking that it is on chain. If it's not found on chain it fails, because we assume something has gone wrong and we want to let the user know about it.

Will think about h

[2020-11-24 11:49] thegostep opened #237 "Add support for hardhat stack traces"

[2020-11-24 12:12] thegostep opened #238 "Add option for silencing warnings"

[2020-11-24 14:13] frangio opened #239 "Change migration example repository to Hardhat"
https://github.com/OpenZeppelin/openzeppelin-upgrades-migration-example

[2020-11-24 17:36] frangio commented on #238
Duplicate of https://github.com/OpenZeppelin/openzeppelin-upgrades/issues/226.

Note that we are considering printing a single warning rather than disabling them entirely.

[2020-11-24 17:36] #238 closed

[2020-11-24 17:37] frangio commented on #237
@thegostep Can you proide more details?

Do you mean https://github.com/OpenZeppelin/openzeppelin-upgrades/issues/137?

[2020-11-24 20:21] frangio commented on #178
This is currently documented in [Writing Upgradeable Contracts](https://docs.openzeppelin.com/upgrades-plugins/1.x/writing-upgradeable#use-upgradeable-libraries).

[2020-11-24 20:21] #178 closed

[2020-11-24 20:22] frangio commented on #176
Closing since we couldn't reproduce the issue.

[2020-11-24 20:22] #176 closed

[2020-11-24 20:28] frangio commented on #123
Fixed in https://github.com/nomiclabs/hardhat/pull/1029.

[2020-11-24 20:28] #123 closed

[2020-11-24 22:02] frangio opened #240 "Only consider errors from the library functions in use"
Our current checks will look at an entire library and consider it either upgrade safe or not. Due to this lack of granularity, a new function we wanted to introduce in the `Address` utility library in OpenZeppelin Contracts 3.3 caused the entire library to be unusable with the upgrades plugins. (https://github.com/OpenZeppelin/openzeppelin-upgrades/issues/230)

We should only consider errors from

[2020-11-24 22:04] frangio commented on #230
We've decided to fix this by removing the new `functionDelegateCall` from `Address` in OpenZeppelin Contracts 3.3, since the proper fix at the plugin level is not so simple and we don't want to delay the release. https://github.com/OpenZeppelin/openzeppelin-upgrades/issues/240 tracks the proper fix.

[2020-11-24 22:04] #230 closed

[2020-11-24 23:00] #226 closed

[2020-11-25 08:13] thegostep commented on #237
Yes this seems to be the one

[2020-11-25 08:13] #237 closed

[2020-11-25 08:14] thegostep commented on #137
Ideally, the solution here would also provide stack traces to where the error occurs in the smart contract

[2020-11-25 13:49] frangio commented on #137
@thegostep I'm pretty confident that stack traces through proxies do work. Here's an example I just ran:

[code]

The only thing that is not working is the third line that shows `UnrecognizedContract`, which is what this issue is about, but is a minor issue.

If you're not seeing stack traces beyond the proxy there must be something else going on in your setup. Are you using `hardhat test`?

[2020-11-25 13:57] frangio commented on #234
Hi @sydneyitguy. I'm sorry you have been having trouble with this.

It shouldn't be necessary to use `truffle-flattener` for verification. We can upload the solc JSON input that was used to compile.

What version of `@openzeppelin/upgrades-core` are you using?

[2020-11-25 16:31] thegostep commented on #137
yes this is what I am referring to, apologies for the lack of clarity in my request.

[2020-11-26 04:41] abcoathup opened #241 "Add support for Truffle dry run fork"
Truffle has a dry run option on migration that forks the network to check the migration.

When deploying a contract with dry run skipped, and then attempting to do an upgrade with dry run, the upgrade fails with:
[code]

Using Box.sol and BoxV2.sol from https://forum.openzeppelin.com/t/openzeppelin-upgrades-step-by-step-tutorial-for-truffle/3579 and the deploy and upgrade migrations below:
## 2_de

[2020-11-26 04:58] abcoathup commented on #234
Hi @sydneyitguy,

I have previously used the Builder (now Hardhat) Etherscan plugin to do multi-file verification of the proxy and ProxyAdmin on public networks. https://forum.openzeppelin.com/t/verify-upgrades-plugins-proxy-on-etherscan/3920

The proxy and ProxyAdmin contracts can be found in `@openzeppelin/upgrades-core`.

I was having issues verifying as multi-file, so in the end verified as a

[2020-11-26 09:15] sydneyitguy commented on #234
@frangio I'm using "@openzeppelin/upgrades-core@1.3.1"
If seems there's no AdminUpgradeabilityProxy.json file on my build directory.

`truffle run verify AdminUpgradeabilityProxy --network goerli` returns
[code]

I have successfully verified the proxy contract using a flatten file (Thanks @abcoathup for your help!)
I could generate the flatten source code by grabbing the source code from
- @openze

[2020-11-26 16:04] frangio commented on #238
@thegostep In case you didn't see it we've added a function to silence warnings in the latest release.

[@openzeppelin/hardhat-upgrades@1.4.0](https://github.com/OpenZeppelin/openzeppelin-upgrades/releases/tag/%40openzeppelin%2Fhardhat-upgrades%401.4.0)

[2020-11-26 16:06] frangio opened #242 "Automate verification of proxy contracts on Etherscan"
We want to override `hardhat-etherscan`'s `verify` task to completely verify an upgradeable proxy deployment. This includes: the user's implementation contract, the proxy, the proxy admin, and the beacon.

[2020-11-26 16:06] frangio commented on #234
Okay, I'm closing this issue as resolved. Compatibility with truffle-flattener in general will not be possible because we are using Hardhat. I've created https://github.com/OpenZeppelin/openzeppelin-upgrades/issues/242 to tackle the more general issue of proxy verification.

[2020-11-26 16:07] #234 closed

[2020-11-27 01:44] abcoathup commented on #242
I deployed to public testnets using the current Truffle Upgrades Plugin and checked the verification status of the proxy and ProxyAdmin contracts:

## Ropsten
proxy (Flat): https://ropsten.etherscan.io/address/0x9b0920D981ef82A76132B5C06F5425fBEc1101Cd#code
ProxyAdmin (Flat): https://ropsten.etherscan.io/address/0x240b4b6237bE88a02344FcB8aD322ceC29F65A69#code

## Rinkeby
proxy (unverified): https:

[2020-11-28 18:06] adetante opened #243 "waitAndValidateDeployment is broken on Hyperledger Besu"
I use **openzeppelin-upgrades** with a Hyperledger Besu node in version `besu/v20.10.1/linux-x86_64/oracle_openjdk-java-11` running in a Docker container. Node configured in IBFT2.

The functions `deployProxy` and `upgradeProxy` do not work: they end with an error: `InvalidDeployment [Error]: Invalid deployment with address`.

The problem comes from this part of the code in `waitAndValidateDeploym

[2020-11-28 18:08] adetante commented on #243
I have create this PR: https://github.com/OpenZeppelin/openzeppelin-upgrades/pull/244

[2020-11-30 08:30] drbullock opened #246 "hardhat-upgrades | Cannot read property 'object' of undefined"
I am getting this error when compiling my contracts with Hardhat:

[code]

Environment:

[code]

[2020-11-30 09:02] drbullock commented on #246
Update: This is unrelated to Openzeppelin, this is an issue with hardhat I guess.

[2020-11-30 14:10] frangio commented on #246
@drbullock Are you sure this is an issue in Hardhat? Is your project open source so I can look at the contracts that you were compiling?

[2020-11-30 18:42] #243 closed

[2020-12-01 12:14] thegostep opened #247 "proxy deployment fails when running alongside gas reporter"
https://github.com/cgewecke/hardhat-gas-reporter

![image](https://user-images.githubusercontent.com/15959632/100739302-2bc13680-33d7-11eb-9124-d0ad3f810287.png)

[2020-12-01 15:16] frangio commented on #247
This is a bug in hardhat-gas-reporter. I've opened a PR with the fix. https://github.com/cgewecke/hardhat-gas-reporter/pull/48

[2020-12-01 15:16] #247 closed

[2020-12-01 23:07] frangio opened #248 "Ignore struct errors originating in OpenZeppelin Contracts Upgradeable"
Given that we ensure storage compatibility for OpenZeppelin Contracts Upgradeable (only within the same major version though!), we could ignore the struct errors that originate in it. In order to check that the major version is the same we would have to retrieve and store the package version in the network file, since we can't tell otherwise.

An example is ERC20Snapshot, as reported by a user [in

[2020-12-01 23:12] frangio opened #249 "Document how to check storage compatibility of structs"
There are some additional rules that should be documented in the "Writing Upgradeable Contracts" guide, related to when it is safe o add fields to a struct. Note that this is different if the struct is in a mapping.

This content should also be linked from [the relevant FAQ entry](https://zpl.in/upgrades/error-007).

[2020-12-02 02:27] cgewecke commented on #247
@thegostep The fixed is published now with hardhat-gas-reporter v1.0.2.

Please just lmk over there if you run into further problems.

[2020-12-02 23:15] frangio commented on #175
I took a shot at this but it's a bit more work than I expected. The reason is that our "version" concept (which is used by the `impl-store` module, where we would add a new `registerImplDeployment` function) hashes the contract creation code, and in order to verify that a local contract is the same as an on chain contract we have to compare the "other" bytecode, that is contained in the artifacts

[2020-12-03 16:29] thegostep opened #250 "upgrades package prevents hardhat compiler errors from reaching the console"
![image](https://user-images.githubusercontent.com/15959632/101058102-1261eb00-358d-11eb-8421-c410f74c26b6.png)

[2020-12-03 16:31] ppoliani opened #251 "Revert messages are not displayed when using deployProxy"
I'm trying to write some tests to check if some of the user inputs are correct. More specifically I've got the following code in my smart contract function. The code is part of the initialize function.

[code]

I have written a test that checks if the correct message is thrown when a 0x address is passed. I used the helper

[code]

Now when I run this it revert, however the error I get doesn't inc

[2020-12-03 16:52] ppoliani commented on #251
Looking into the source code I stumdled across this

[code]
Is it because of the `(bool success,) = _logic.delegatecall(_data);` which presumably doesn't  bubble up exceptions?

[2020-12-04 14:06] frangio commented on #251
Thanks for reporting! Yes, it seems that we're not bubbling the revert reason in the constructor! (It is bubbled in the fallback function.)

I'm going to move this issue to our OpenZeppelin Contracts repo where proxies are hosted. We should fix it over there. We have to update this project to use those (see #164).

[2020-12-04 14:31] frangio commented on #250
Thanks for reporting!

I was able to reproduce this but only when the error is a "stack too deep" error. Otherwise compiler errors do get through, which is why we hadn't seen this before.

[2020-12-04 15:41] #250 closed

[2020-12-04 15:48] frangio commented on #250
Fixed in latest.

[2020-12-04 22:52] bonedaddy commented on #175
Do you still have the code from when you took a shot at it that you can share?

[2020-12-04 22:58] frangio commented on #175
Sorry, I discarded it because I think the implementation will have to be pretty different to the approach I took.

[2020-12-07 03:25] abcoathup commented on #248
Could use an Allow List rather than a binary selection to prevent potential upgrade safety issues being missed.

_From: https://forum.openzeppelin.com/t/error-deploying-erc20snapshotupgradeable/4864/3_

[2020-12-09 08:58] snowkidind commented on #233
On a deploy, if you set the gas price too low, an internal timeout occurs ( not sure if hardhat or oz )

Something catches, ceasing execution, causing the other two contracts in wait to not get deployed. So your mainnet.jason file never gets updated, causing an error like this.

Not sure if you can, because of admin linking but it would be nice if there was a 'resume process' functionality that ca

[2020-12-09 16:36] frangio commented on #233
@snowkidind Is this related to the fork option?

The plugins are already "resumable" if a timeout happens: the tx hash is stored in mainnet.json and subsequent runs will pick it up and wait until it's mined. Did you run into a situation when this wasn't happening correctly? Please open a new issue if so.

[2020-12-09 16:57] snowkidind commented on #233
This doesnt relate to the fork, but it does relate to the process stopping. I will add an issue if i observe it again.

[2020-12-15 10:53] pinglamb opened #258 "receive will result with out-of-gas"
Currently, the `receive()` of proxy is calling `_fallback()` (https://github.com/OpenZeppelin/openzeppelin-upgrades/blob/master/packages/core/contracts/proxy/Proxy.sol#L25). When this method is invoked by `send` and `transfer`, the transaction will fail with `out-of-gas` as only 2300 gas is available.

[2020-12-18 14:42] gpersoon commented on #190
I had the same problem and was able to reproduce it in the following way:

slots.sol:
[code]

Oracle.sol:
[code]

2_slots_deploy.js
[code]
And the run truffle migrate twice.
The first time i see error: “Oracle” is an abstract contract or an interface and cannot be deployed.
The second time: TypeError: Cannot read property ‘evm’ of undefined

[2020-12-21 20:27] frangio commented on #258
Hi @pinglamb. Can you provide more details about this? What contract did yout test this with, and how much gas did you find was necessary?

[2020-12-21 20:32] frangio opened #263 "Support multiple contracts with same name"
Our handling of validations does not support multiple contracts with the same name, which is a definite possibility. This is caused by our indexing of the validations object using the contract name only. We should switch to source path + contract name.

https://github.com/OpenZeppelin/openzeppelin-upgrades/blob/a5fa60a691846080fd7ba84e9a5d6601d304902c/packages/core/src/validate.ts#L82

[2020-12-21 21:35] pinglamb commented on #258
I have crafted a demo for showcasing the issue: https://github.com/pinglamb/send-to-proxy/tree/master/contracts

The `Receiver` contract is deployed behind `Proxy`. Whenever another contract (e.g. `Sender`) needs to send ether using the `transfer` method (https://docs.soliditylang.org/en/v0.6.0/contracts.html#receive-ether-function), `out-of-gas` will be resulted because the `Proxy` `receive()` fu

[2020-12-22 00:16] thegostep opened #264 "error after migrating from buidler to hardhat"
![image](https://user-images.githubusercontent.com/15959632/102834062-f2219100-43c0-11eb-9ba8-eb98e17e89d9.png)

[2020-12-22 19:07] frangio commented on #264
@thegostep Can you try deleting `cache/validations.json`? It was a mistake on our part not to detect this change automatically but I think this should fix it.

[2020-12-22 22:20] frangio commented on #258
This is a known issue. Please see [OpenZeppelin upgradeable contracts affected by Istanbul hardfork](https://forum.openzeppelin.com/t/openzeppelin-upgradeable-contracts-affected-by-istanbul-hardfork/1616).

We haven't fixed it due to the small percentage of affected contracts. Your use case of the WETH withdraw method is a very interesting data point, though. An alternative implementation of proxi

[2020-12-22 22:20] #258 closed

[2020-12-23 15:56] thegostep commented on #264
Nuking the cache did the trick - thank you!

[2020-12-23 16:09] #264 closed

[2020-12-24 13:58] drbullock commented on #246
Hi @frangio I commented also on Hardhat Issue, here https://github.com/nomiclabs/hardhat/issues/1070#issuecomment-750890052

[2020-12-30 13:51] sirpy opened #266 "when using hardhat upgrades manifest does not contain proxy address"
I think this also happens with truffle upgrades
the manifest contains the implementations, each new upgrade is added correctly to the implementations
but there's no sign for the proxy address details
at the bottom you can find only the admin address

example manifest:
[code]

[2020-12-30 13:51] sirpy opened #267 "manifest does not contain proxy address when using truffle/hardhat upgrades"
I think this also happens with truffle upgrades
the manifest contains the implementations, each new upgrade is added correctly to the implementations
but there's no sign for the proxy address details
at the bottom you can find only the admin address

example manifest:
[code]

[2020-12-31 05:34] abcoathup commented on #266
Duplicate of #267

[2020-12-31 05:34] #266 closed

[2020-12-31 05:47] abcoathup commented on #267
Hi @sirpy!  Thanks for the feedback, it is really appreciated.

The project owner will review as soon as they can.

In Truffle the proxy address is in the artifact of the first implementation contract (see: https://github.com/OpenZeppelin/openzeppelin-upgrades/pull/109) but not with Hardhat.

[2020-12-31 09:53] huwentao1 opened #268 "HH9: Error while loading Hardhat's configuration"
myVersion:
[code]
myTask:
[code]
myConfig
[code]
myCommon
[code]
I think this is very simple script, but i dont know why errors? anyone know this is hardhat problem or upgrades plugins problem?

[2020-12-31 20:03] frangio commented on #268
@huwentao1 This is a Hardhat problem. You can't `import "hardhat"` inside your config file. Consider using a script and running it with `harhdat run` instead of defining a task. You can ask for more guidance in https://hardhat.org/discord.

[2020-12-31 20:03] #268 closed

[2021-01-04 06:53] abcoathup opened #269 "Document how to deploy additional contracts"
Documentation doesn't cover case where ownership of ProxyAdmin has been transferred and deploying additional contracts.

Feedback in the forum: https://forum.openzeppelin.com/t/deploy-new-contract-with-gnosis-safe/5141/7?u=abcoathup

[2021-01-04 16:09] frangio commented on #267
Hi @sirpy, it was a design decision to leave this mostly out of scope of the plugins. We try to integrate with the deployment management solution of the environment. In Truffle this means that we store the proxy address in the artifact files. In Hardhat there is no deployment management solution so we don't do anything and expect the user to store it somewhere themselves.

[2021-01-04 16:09] #267 closed

[2021-01-04 23:42] abcoathup opened #270 "Document location of proxy address"
The location of the proxy address isn't currently documented.

The following could be added to FAQs:

Proxy address is stored in the Truffle artifact of the first implementation contract.
Proxy address in Hardhat is not stored as Hardhat doesn't currently have a built in deployment solution.

[2021-01-05 08:35] vporton opened #271 "Missing owner parameter"
Need to add `owner` parameter to use another proxy owner than the default deployer account!

[2021-01-05 12:26] bh2smith opened #272 "[hardhat-upgrades] DeployOptions missing deterministicDeployment"
When using `upgrades.deployProxy` the `DeployOptions` type interface provided is very different than the usual interface provided in the usual `hardhat` package. In particular, there are several commonly used deployment options that are no longer available. For example:

[code]

Is it possible that the Options interface defined in `deploy-proxy` could extend the usual hardhat Options to overcome t

[2021-01-05 19:08] frangio commented on #272
This is similar to https://github.com/OpenZeppelin/openzeppelin-upgrades/issues/85, generalizing the idea to all available deployment options.

It would be nice to do something like this, but the additional issue that we have is that a `deployProxy` call can potentially perform 3 different deployments (implementation, admin, proxy), and `upgradeProxy` will additionally send a transaction (the upgr

[2021-01-05 19:10] frangio commented on #271
Hi @vporton. Are you talking about `deployProxy` and `upgradeProxy`? Would this be solved by the PR https://github.com/OpenZeppelin/openzeppelin-upgrades/pull/213?

[2021-01-05 19:30] vporton commented on #271
Yes, that PR seems to solve my issue.

[2021-01-06 08:14] bh2smith commented on #272
It seems the motivation for wanting these is very particular to each use case. For ours, it would be the deterministic deployment that is of most importance (as this can be used to ensure the contracts will all have the same address on different networks - such as xDai). While it is clear that some of these parameters may need to be specified for each individual deployment within `deployProxy` the

[2021-01-06 10:53] marsrobertson commented on #270
Arriving here from: https://forum.openzeppelin.com/t/deploying-2-identical-contracts-and-referencing-them-in-the-future-upgrades/5287

I'm the original creator of that forum thread.

This is not super obvious. Mixing proxy address with the address of the implementation.

Until recently I had `build` in `.gitignore`. Now, because the addresses are stored there, I need to keep `build` in my repo?

*

[2021-01-06 11:56] bh2smith commented on #272
I have re-evaluated the controversial notion "universal deployment options" and fallen back to something more generic that allows users to specify their own deployer in which they can use whichever `DeployOptions` they like. This is a non-invasive way of making the requested feature available for those who want it, but leaving things as is for those who are uninterested in such additional overhead

[2021-01-07 15:43] frangio commented on #270
Hi @marsrobertson, it was a design decision to leave this out of scope of the plugins, which is why the proxy address is not stored in `.openzeppelin`. We expect users to track their proxy deployments in the same way that they track their non-proxy deployments, so it would not make sense for us to build a specific purpose proxy-tracking mechanism.

We could change this decision in the future, but

[2021-01-07 16:06] marsrobertson commented on #270
Thank you @frangio, makes a lot of sense.

Do you know any resources / articles / tutorials / best practices?

----

I think I can just hardcode address of the proxy right there:

[code]

Code coming from the tutorial: https://forum.openzeppelin.com/t/openzeppelin-upgrades-step-by-step-tutorial-for-truffle/3579

[code]

_(I can keep it config, settings, .env, wherever)_

Beginner mindset, I'm here

[2021-01-07 16:59] frangio commented on #270
Yeah you can also use a json file to store the addresses, and read the json file in your scripts. I'm not aware of any articles about this but I know that it's an active area where people are working to figure out the best patterns.

[2021-01-08 21:41] frangio opened #276 "Support storage layout gaps"
We often recommend including a storage "gap" in storage layout in order to safely add storage variables when using (multiple) inheritance. We use this pattern ourselves in OpenZeppelin Contracts Upgradeable. However, if a slot in the gap is actually used for a new variable later, the plugins will flag this as an error. We should detect gaps through the conventional `____gap` name and treat them sp

[2021-01-08 23:15] santisiri commented on #233
Hi, I was getting this same error whole trying to deploy on `kovan`

[code]

Was able to push the contract through using `gasMultiplier: 3` in the settings.

[2021-01-11 23:51] ccolorado opened #279 "Importing Interfaces breaks deployProxy"
Updated the Box contract used on `https://docs.openzeppelin.com/upgrades-plugins/1.x/truffle-upgrades`
Importing a simple interface.
Makes the migrate command to throw the following contract
Error: The requested contract was not found. Make sure the source code is available for compilation

When an interface is imported,  `checkForImportIdConsistency` removes a contract from the `input`,  `output`

[2021-01-12 00:21] frangio opened #280 "Add a manual override for every check"
Requested in https://forum.openzeppelin.com/t/force-override-upgrade-validation/5368:

[2021-01-12 03:29] abcoathup commented on #279
Hi @ccolorado!  I’m sorry that you had this issue.

Unfortunately, I wasn’t able to reproduce this issue. I tried using the following:
## Itest.sol
[code]

## Box.sol
[code]
## Deploy
[code]

Can you provide the Solidity for `Itest.sol` and the command you ran?

[2021-01-12 13:25] ccolorado commented on #279
Hi @abcoathup ,
command is:
 ` truffle compile --all && truffle migrate --reset`
contracts/Itest.sol code is:

[code]
Truffle v5.1.60 (core: 5.1.60)
Solidity - 0.7.0 (solc-js)
Node v10.23.1
Web3.js v1.2.9

[2021-01-13 01:02] abcoathup commented on #279
Hi @ccolorado,

Unfortunately, I wasn’t able to reproduce this issue.

I tried the following:
Deployed to ganache-cli multiple times, with no other cleanup in between using `$ npx truffle compile --all && npx truffle migrate --reset`

What operating system are you using?  Is it case insensitive?

[2021-01-13 10:44] IgorSenychCW opened #281 "Logs are not decoded on Etherscan"
We deployed my smart contract with truffle-upgrades and looks like Etherscan can't decode any event logs after that. When deploying without proxy contract everything works as expected. Can this behavior be related with upgrade plugins and proxy contract?

Transafer ownership transaction, OwnershipTransferred log wasn't decoded - https://rinkeby.etherscan.io/tx/0xf696c7de7f0825ab9bd79d88f2f21768368

[2021-01-13 19:13] ccolorado commented on #279
I see, I'll try to reproduce on another system. I am using 64 bit Linux (key sensitive).
If I am able to reproduce it on a different system, would a screen recording gif be any help?

[2021-01-14 01:03] frangio commented on #281
Thanks for reaching out @IgorSenychCW. This may be a limitation of Etherscan's support for proxies. I'll see if I can get more information. You may want to reach out to Etherscan as well.

[2021-01-14 01:11] frangio commented on #279
@ccolorado A screen recording shouldn't be necessary. I'll take a look at this and get back to you.

[2021-01-14 01:21] frangio commented on #279
@ccolorado Can you try using a relative import? As in: `import "./Itest.sol";`.

Note you are currently using `import "contracts/Itest.sol";`, this is an unusual import format that can cause issues sometimes.

[2021-01-14 23:12] frangio commented on #233
@santisiri Can you share if you were using Infura? Someone reported something similar [in the forum](https://forum.openzeppelin.com/t/invalid-deployment-using-infura/5371).

[2021-01-14 23:28] frangio commented on #233
@santisiri I should have fixed the error you saw in https://github.com/OpenZeppelin/openzeppelin-upgrades/pull/282. However, it's unrelated to the fork option which this issue is about.

[2021-01-15 20:27] frangio commented on #281
@IgorSenychCW Take a look at [this transaction](https://etherscan.io/tx/0x19b82cde32c7b1b43bbe52aafef67790a0861fa043b53d30baa4fdd28a086647#eventlog) of USDC, which is also a proxy contract. Its events are not decoded either.

[2021-01-18 00:00] abcoathup opened #284 "Document retry functionality in FAQ for partial deploy"
Community members are reporting partial deployments due to lack of funds.  A combination of high gas prices for network congestion and the price of Ether.

We should document how OpenZeppelin Upgrades Plugins retries partial deployments picking up where it left off.

There have been the following queries:
https://forum.openzeppelin.com/t/partial-deploy-for-upgradeable-contract/5444
https://forum.o

[2021-01-18 12:45] #281 closed

[2021-01-18 18:17] frangio commented on #279
I'll assume this was fixed by the change I suggested. Let us know if you have more questions!

[2021-01-18 18:17] #279 closed

[2021-01-18 18:24] frangio commented on #173
Fixed in #274.

[2021-01-18 18:24] #173 closed

[2021-01-18 18:28] frangio commented on #3
This is currently not a priority as the only thing it will give us is more sophisticated checks, in the sense that we are currently disallowing some things which would actually be ok. This is because our current algorithm does not consider the fact that multiple variables can occupy the same slot depending on their size and alignment.

If you have a requirement for these more sophisticated checks

[2021-01-18 19:55] ccolorado commented on #279
Thanks.
I just tryied to reproduce on a new ubuntu vm and couldn't reproduce the issue.
Seems to be some kind of local issue I haven't figured out yet.

[2021-01-18 21:16] frangio commented on #246
Fixed by https://github.com/OpenZeppelin/openzeppelin-upgrades/pull/253

[2021-01-18 21:16] #246 closed

[2021-01-18 21:18] frangio commented on #233
@abcoathup Can this be reproduced in the latest core? #282 may have fixed this for forked networks as well.

[2021-01-18 21:37] frangio commented on #167
I accidentally opened a duplicate https://github.com/OpenZeppelin/openzeppelin-upgrades/issues/280. Closing in favor of that one.

[2021-01-18 21:37] #167 closed

[2021-01-19 00:41] abcoathup commented on #233
Hi @frangio,

I wasn't able to reproduce with the latest version of core.  Closing as Fixed by #282

[2021-01-19 00:41] #233 closed

[2021-01-24 14:19] ppoliani opened #287 "Solidity factory contract"
I remember in the depreciated openzeppelin-sdk one could deploy upgradable contract from within a Solidity code. More specifically there was

`"@openzeppelin/upgrades/contracts/application/App.sol";`

That allowed us to deploy contract like this:

`app.create(packageName, contractName, admin, encodedInitializeCall)`

Is there any way we can achieve the same thing with this current version of the p

[2021-01-25 03:10] abcoathup commented on #287
Hi @ppoliani,

To deploy upgradeable contracts from Solidity you can use the proxy contracts that were added to OpenZeppelin Contracts.  See: https://docs.openzeppelin.com/contracts/3.x/api/proxy

You can use the OpenZeppelin Upgrades Plugins in your tests to check the upgrade safety of your upgradeable contracts.

For a factory to create upgradeable contracts, please see the design discussions in

[2021-01-25 18:31] ajsantander opened #289 "Avoid redundant calls to Proxy.upgrade()"
I'm trying out the hardhat plugin for upgrades, and I noticed that the plugin is smart enough to know when a new implementation doesn't need to be deployed when calling `upgradeProxy`, but it does always call the proxy's `upgrade` function. It could also be smart here and avoid a redundant function call that will only re-set the existing values.

So, essentially, calling `upgradeProxy` on a proxy,

[2021-01-25 20:55] frangio commented on #289
Thanks for reporting! I'll close this as a duplicate of https://github.com/OpenZeppelin/openzeppelin-upgrades/issues/89, and bump the priority for the issue.

Can you share a little bit about why this is important to you? I'd like to understand what kind of workflow causes this to be an issue.

[2021-01-25 20:56] frangio commented on #89
Reported again in https://github.com/OpenZeppelin/openzeppelin-upgrades/issues/289.

[2021-01-25 22:43] thegostep opened #290 "Add method for obtaining implementation/template address"

[2021-01-25 23:29] frangio commented on #290
What you call template is what we call implementation contract, right?

What is the use case for this?

[2021-01-26 12:12] ajsantander commented on #289
Sure.

TL;DR: Automation for code bases with potentially hundreds of proxies..

In Synthetix, we have a pretty complex deploy script. It's quite smart in the sense that it will not do anything if it doesn't need to. I.e. it will compare deployed implementations with local code, on-chain storage values with expected parameters, etc. If a value is suppose to be 42, it will read the value and figure

[2021-01-26 14:13] frangio commented on #289
That makes a lot of sense. Thanks for the explanation! Closing to continue on #89.

[2021-01-26 14:13] #289 closed

[2021-01-26 22:13] thegostep commented on #290
correct - the goal is to be able to programmatically verify them on etherscan

[2021-01-26 22:31] frangio commented on #290
As a workaround, in the network files we generate, found in `.openzeppelin`, you will find the addresses of the implementations/templates and this should be all you need to verify using Hardhat with hardhat-etherscan, as long as the source code is available.

For example:

[code]

---

We've thought before about simplifying verification of proxies on Etherscan by providing a `verify-proxy` Hardhat

[2021-01-27 00:13] #95 closed

[2021-01-27 00:13] #152 closed

[2021-01-27 00:13] #199 closed

[2021-01-27 00:13] #248 closed

[2021-01-27 00:13] #249 closed

[2021-01-27 14:54] thegostep commented on #290
an additional use case that comes to mind is being able to initialize the implementation contract after deployment

[2021-02-03 17:06] jacobrosenthal opened #292 "Hardhat deploy on xDAI “TransactionMinedTimeout [Error]: Timed out waiting for transaction” txhash doesnt exist"
Originally reported https://forum.openzeppelin.com/t/hardhat-deploy-on-xdai-transactionminedtimeout-error-timed-out-waiting-for-transaction/5614

Im running like `DEBUG=* hardhat --network xdai run scripts/deploy.ts`

scripts/deploy.ts
[code]

hardhat.config.ts
[code]

Versions
[code]

the contract 0xE86FB472D997bD489EEd806f6b138518d5473De0 will exist on blockscout, but that transaction hash its l

[2021-02-03 21:12] jacobrosenthal commented on #292
Looks like this is opened so I can share the code directly

https://github.com/jacobrosenthal/eth/tree/hardhat
`yarn && yarn deploy:prod`

youll need an .env.prod with the mnemonic wallet funded
[code]

[2021-02-05 02:50] abcoathup commented on #292
Hi @jacobrosenthal,

I get the same timeout running your code:
[code]

---

I wasn't able to reproduce with a simple example and a single library

## Answer.sol
[code]
## Box.sol
[code]

## Deploy.js
[code]
[code]

[2021-02-08 22:24] frangio commented on #292
Continued this conversation in the [forum thread](https://forum.openzeppelin.com/t/hardhat-deploy-on-xdai-transactionminedtimeout-error-timed-out-waiting-for-transaction/5614).

[2021-02-08 22:24] #292 closed

[2021-02-09 15:10] frangio commented on #280
Concretely, we want to add an option `unsafeAllow: ['delegatecall', 'state-variable-immutable']` that generalizes the existing flags such as `unsafeAllowLinkedLibraries`.

[2021-02-12 11:32] kiliw commented on #231
Are there any updates so far? I'm playing around with the beacon proxy but I could not find any equivalents for `deployProxy` and `upgradeProxy` functions from the truffle upgrades plugin, which works with the beacon proxies.

[2021-02-12 14:55] frangio commented on #231
No updates on this yet. Some thoughts on how the implementation should proceed:

We will need to parameterize `deployProxy` and `upgradeProxy` with a structure describing how to deploy and interact with the custom proxy. We seem to need these operations:

- `deploy(admin: address, impl: address, data: bytes): Promise<address>`
- `getCurrentImplementation(proxy: address): address`
- `upgrade(proxy:

[2021-02-16 20:44] bmcd opened #295 "Hardhat upgrades plugin: Proxy admin is not the one registered"
I'm trying to follow the instructions for using the upgrades plugin for hardhat. I have the exact same scripts (except with my contract instead of Box) shown here: https://docs.openzeppelin.com/upgrades-plugins/1.x/hardhat-upgrades#script-usage

If I deploy in the first script, then use the address from that script's log in the upgrade script, I get the following error:
[code]

If I combine the in

[2021-02-17 09:34] abcoathup commented on #295
Hi @bmcd,

I was able to reproduce by running the create and upgrade scripts with hardhat spinning up a network each time.

This is because hardhat is creating a new network for each run of the script, so the ProxyAdmin isn't found when we try to do an upgrade on a new (empty) network.
[code]

To resolve we can create a local hardhat network (see: https://docs.openzeppelin.com/learn/deploying-and-

[2021-02-17 15:04] thegostep opened #296 "add support for custom gasPrice"

[2021-02-17 16:26] frangio commented on #296
@thegostep Have you tried configuring the network-wide gas price in your Hardhat or Truffle configuration? Is there a reason why this is not enough?

[2021-02-17 17:33] thegostep commented on #296
ahhh

yes that's much better - thank you

[2021-02-17 17:33] #296 closed

[2021-02-17 18:07] frangio commented on #295
We should improve the error check to better detect this situation and suggest running `hardhat node` to fix it.

[2021-02-18 03:48] abarmat opened #297 "Use prepareUpgrade on already deployed project"
I have a project that is already deployed for which I don't have a manifest file, it was deployed with custom scripts.

Is it possible to use prepareUpgrade() as a way to test a new implementation against what is already deployed?

[2021-02-18 07:24] abcoathup commented on #297
Hi @abarmat,

Thanks for your question.

You could write high level tests that use `deployProxy` and then `upgradeProxy` and this will check upgrade safety of upgrading from one implementation to another.

See the API documentation for usage in tests:
* Truffle: https://docs.openzeppelin.com/upgrades-plugins/1.x/truffle-upgrades#test-usage
* Hardhat: https://docs.openzeppelin.com/upgrades-plugins/

[2021-02-18 07:24] #297 closed

[2021-02-18 12:20] abarmat commented on #297
Thank you

[2021-02-18 13:27] frangio commented on #297
I agree with the recommendation to use `deployProxy` to get the current state in your tests. The reason this is necessary is that running `deployProxy` will store the necessary metadata for `upgradeProxy` to later check upgrade safety.

---

@abarmat Are you also interested in using the plugin for deploying to production, or only for testing?

[2021-02-18 14:01] abarmat commented on #297
The idea is to have a process where I could test a new implementation to be storage safe against the latest deployed layout.

Initially I would be happy to just run a check when testing the new implementation, even if then I had to deploy it to mainnet with our own deployment scripts. It seems that by keeping the older contract code along with the new code and writing a high level upgrade test wil

[2021-02-18 17:09] bmcd commented on #295
I thought that might be the case, but since the error message said something is wrong with the Proxy admin, rather than saying the contract doesn't exist, it made me think it might be something else.

Making the error more clear would be great, plus maybe a note about the default hardhat network in the docs.

Thanks for the responses!

[2021-02-24 14:37] NarkomDe opened #300 "Issue with upgrading contracts with enum value as a key in a mapping"
I have a contract with a mapping from an enum value to another struct in a storage. I've encountered that when trying to upgrade it(even to the contract with the same code), with stack-trace:
[code]
Commenting out node_modules/@openzeppelin/upgrades-core/src/storage/compare.ts:192 line helps, upgrade go as expected and upgraded contract is working fine.But I think there is a better option to solve

[2021-02-24 18:00] frangio commented on #300
Hi @NarkomDe, this is indeed a wrong assumption in the code. Glad you reported it, I'll put out a fix in a little while.

[2021-02-24 18:35] #300 closed

[2021-02-24 18:43] frangio commented on #300
@NarkomDe The fix was released in version 1.5.1 of `@openzeppelin/upgrades-core`.

[2021-02-25 07:40] NarkomDe commented on #300
Thanks a lot for such a quick update!

[2021-03-06 22:00] JasoonS opened #304 "Manifest file is always named `unknown-1337.json` even if network id is different"
When using the `@openzeppelin/truffle-upgrades` plugin, it always calls the manifest file `unkown-1337.json` if the network isn't known, even if the network id is different to 1337.

To test this you can run ganache with different network ids. eg. `ganache-cli --networkId 321`

This behaviour also happens for other networks (not just ganache), eg binance smart chain testnet has network id 97, but

[2021-03-07 10:18] JasoonS opened #305 "Way to upgrade + call atomically via truffle plugin"
I've been using the openzeppelin-sdk in truffle for a while with my contracts. There used to be a way to atomically update and call a function to help with the upgrade at the same time. I can't seem to find a way to do this anywhere in the [docs](https://docs.openzeppelin.com/upgrades-plugins/1.x/api-truffle-upgrades).

Here is an example of an upgrade using the old mechanism.
https://github.com/w

[2021-03-08 20:16] frangio commented on #304
Hi @JasoonS, this is because the number we use is not the network id but the chain id. There seems to be a `--chainId` option in Ganache according to https://github.com/trufflesuite/ganache-core/issues/515#issuecomment-700301787. Can you try that and let me know if it achieves the effect you want?

As for binance testnet, is this a local network like Ganache or a remote network you're connecting t

[2021-03-08 20:49] frangio commented on #305
@JasoonS Thank you for the request. This is a duplicate of https://github.com/OpenZeppelin/openzeppelin-upgrades/issues/62 so I'll close this issue in favor of that one.

We want to add this feature but I'm not sure when we'll be able to work on it. Does the workaround of calling the function in a separate transaction cause issues for you?

[2021-03-09 17:41] JasoonS commented on #305
Thanks!

I think it's a potential security issue if someone else could call the contract inbetween (on the new logic before since state is patched/updated). But in reality it's unlikely. Definitely will be more important when we have noted users.

[2021-03-11 08:52] guanzhenxing opened #309 "Support for Optimism Network"
I want to deploy a proxy contract at optimism network,but it not work.

My code like:
[code]
and the result is:
[code]

And I found this code at @openzeppelin/hardhat-upgrades/src/proxy-factory.ts
[code]
but the optimism use AdminUpgradeabilityProxy-ovm.json and ProxyAdmin-ovm.json . Is it a bug ?

Thanks!

[2021-03-11 15:53] Amxx opened #310 "Add support for UUPS proxy pattern."
Support UUPS like proxy/implementation

[2021-03-11 15:54] frangio commented on #310
Related to https://github.com/OpenZeppelin/openzeppelin-upgrades/issues/231.

[2021-03-12 02:23] guanzhenxing opened #311 "deployProxy function doesn't work for Optimism (OVM) network"
I want to deploy a proxy contract at optimism network,but it not work.

My code like:
[code]
and the result is:
[code]

And I found this code at @openzeppelin/hardhat-upgrades/src/proxy-factory.ts
[code]
but the optimism use AdminUpgradeabilityProxy-ovm.json and ProxyAdmin-ovm.json . Is it a bug ?

Thanks!

[2021-03-12 02:26] abcoathup commented on #309
Hi @guanzhenxing!

Unfortunately, I wasn’t able to reproduce this issue. I tried the following:
I tried to compile and test an upgradeable contract but not sure if my syntax was right for testing with Optimism: https://forum.openzeppelin.com/t/openzeppelin-upgrades-step-by-step-tutorial-for-hardhat/3580

The proxy and ProxyAdmin are precompiled so Optimism versions may be required.

Thanks so much

[2021-03-12 02:33] guanzhenxing commented on #309
Hi @abcoathup !

Thanks! Looking forward to it working on the Optimism network!

[2021-03-12 09:30] Amxx opened #312 "Add support for constructor in logic holding contracts."
When deploying the logic contract for a proxy, you are expected to replace the constructor with an initialize function, for the part that is instance-specific (let's say the name and symbol of an ERC20). This is verified by the plugin, which will refuse to work with implementations that have non-trivial constructors

However, it can still make sense to have a constructor that sets an immutable var

[2021-03-14 14:17] georgeroman commented on #311
This seems very similar to the issue in https://forum.openzeppelin.com/t/openzeppelin-upgrades-support-for-optimism/5511.

[2021-03-14 21:55] Remscar opened #313 "Expose implementation address in hardhat plugin"
It would be nice for there to be a standardized way to get the address of a deployed implementation contract when working with the hardhat plugin.

Currently the user flow is:
[code]

But it would be nice to do something like this:

[code]

Currently a user must manually check the `./.openzeppelin/` folder and extract the contract address.
Automating this process is made difficult by the fact that

[2021-03-15 01:08] abcoathup commented on #313
Hi @Remscar!  Thanks for the suggestion, it is really appreciated.

Can you provide more information on your use case for the implementation address?
There is an open issue to get access to the implementation address for verification purposes: https://github.com/OpenZeppelin/openzeppelin-upgrades/issues/290

Once we have more information on your use case, the project owner will then review your su

[2021-03-15 01:13] abcoathup commented on #311
Duplicate of #309

[2021-03-15 01:13] #311 closed

[2021-03-15 01:14] abcoathup commented on #309
Also see forum question: https://forum.openzeppelin.com/t/openzeppelin-upgrades-support-for-optimism/5511.

[2021-03-15 01:21] abcoathup commented on #311
I have closed this issue as a duplicate.

[2021-03-15 22:59] Remscar commented on #313
Hi @abcoathup,

An example use case that I encountered needing is automating the etherscan verification of an implemented proxy when using hardhat.

I found a workaround, but it's as you can probably see, less than ideal:
[code]

Another user case that we needed it for is we have our own json format where we store all deployed contracts (proxy, implementation, proxyadmin) and we needed to fetch th

[2021-03-16 00:50] abcoathup commented on #290
I am closing this in favor of similar issue https://github.com/OpenZeppelin/openzeppelin-upgrades/issues/313

[2021-03-16 00:50] #290 closed

[2021-03-16 18:35] frangio commented on #313
@Remscar I'm glad you were able to work around the lack of this method. We try to make changes in a backwards compatible way as much as possible, so your code should be fine until we add this functionality natively.

[2021-03-16 19:06] frangio commented on #309
We have some other things with more priority in the roadmap but it would be nice to support Optimism.

How does one detect that the current network is on Optimism? Is it a different chain id?

[2021-03-16 19:47] frangio commented on #312
There are two components to this:

1. Bypassing the check and allowing constructors through. Ideally we do this automatically in an intelligent way, possibly by checking that the constructor doesn't write to storage, but this complicates the feature and we can start by offering an override flag for people to manually check this themselves. See #280.
2. Providing arguments for implementation constr

[2021-03-23 06:41] guanzhenxing commented on #309
Hi @frangio .
The Optimism has different chain id. The Optimistic Ethereum (mainnet) is 10, and Optimistic Ethereum (Kovan) is 69

[2021-03-23 14:36] frangio opened #318 "Granular "unsafeAllow" through NatSpec comments"
The latest Solidity allows adding NatSpec comments to any statement. We can use this to disable or enable checks on a more granular level than we do now.

[2021-03-25 10:03] Amxx commented on #318
addressed as part of #315

[2021-04-07 15:15] noobshow opened #321 "Update @truffle/contract dependencies"
Based on this [advisory](https://npmjs.com/advisories/1648) truffle updated its web3 and possibly ethers.js dependencies.

[2021-04-07 15:17] noobshow commented on #321
@openzeppelin/truffle-upgrades => @truffle/contract > ethers > elliptic
@openzeppelin/truffle-upgrades > @truffle/contract > web3

[2021-04-08 23:26] frangio commented on #321
Thank you for reporting this @noobshow. Unfortunately there's nothing we can do about this in our package. Here's the dependency trail:

[code]

Truffle depends on Ethers v4, which has a fixed dependency on elliptic@6.5.3, so there is no way to update it to elliptic@6.5.4.

I've opened an issue in the Ethers repository to see if this can be fixed over there. https://github.com/ethers-io/ethers.js/

[2021-04-08 23:26] #321 closed

[2021-04-09 06:14] noobshow commented on #321
I reported same to @truffle/contract already same day, the core truffle has
made those changes...

npm reports like 1500+ vulnerable dependencies and they mostly point to
this plugin on my server.

Would watch out for the updated release soonest...

Thanks.

On Fri, Apr 9, 2021, 12:27 AM Francisco Giordano ***@***.***>
wrote:

[2021-04-09 13:36] frangio commented on #321
This is not something Truffle can fix unless they upgrade to Ethers v5.

[2021-04-09 22:10] #280 closed

[2021-04-09 22:10] #318 closed

[2021-04-09 22:46] frangio commented on #312
Bypassing the check is now implemented, and basic immutable variables should work with the appropriate overrides:

[code]

Empty constructors should also be possible:

[code]

But it's still not possible to provide arguments to the constructor.

[2021-04-12 08:25] chuanhaisoft opened #323 "npx hardhat compile --show-stack-traces Error HH600: Compilation failed"
Solidity 0.8.3 is not fully supported yet. You can still use Hardhat, but some f
eatures, like stack traces, might not work correctly.

Learn more at https://hardhat.org/reference/solidity-support"

Compiling 12 files with 0.8.3
InternalCompilerError: Internal compiler error (C:\Users\circleci\project\libsol
idity\analysis\FunctionCallGraph.cpp:103)
Error HH600: Compilation failed

HardhatError: H

[2021-04-12 13:45] frangio commented on #323
@chuanhaisoft Can you show us your Solidity code?

[2021-04-12 15:48] chuanhaisoft commented on #323
//SPDX-License-Identifier: Unlicense
pragma solidity ^0.8.3;

import "@openzeppelin/contracts-upgradeable/access/AccessControlUpgradeable.sol";
//import "@openzeppelin/contracts-upgradeable/utils/math/SafeMathUpgradeable.sol";

contract Base is AccessControlUpgradeable
{
    bytes32 internal constant __admin = keccak256("__admin");
    //using SafeMathUpgradeable for uint256;

    modifier adminCh

[2021-04-12 20:15] frangio commented on #323
I was not able to reproduce this. I was able to compile your contract with the given config and dependencies.

[2021-04-14 06:24] chuanhaisoft commented on #323
it is ok on 0.8.0 and 0.8.1,but 0.8.2 and 0.8.3 Error HH600: Compilation failed

[2021-04-14 13:59] frangio commented on #323
@chuanhaisoft Can you ask for help in the Hardhat discord? Make sure to mention you're using Windows.

https://hardhat.org/discord

[2021-04-14 13:59] #323 closed

[2021-04-15 08:41] noobshow commented on #321
Thanks for the info... Switching to hardhat, seems to now suite my current style.

[2021-04-16 05:39] amateur-dev opened #326 "Verification of Proxy and ProxyAdmin failing using Hardhat"
When using Solidity 0.8 in the contract and importing
`import "@openzeppelin/contracts/proxy/utils/Initializable.sol"`
The contracts do get compiled in Solidity v 0.8.

However, when attempting to verify the contracts using
`npx hardhat verify --network <networkName> <address>`

Getting the following error:
[code]
While digging through the fx `upgrades.deployProxy` it is importing:

[code]

It app

[2021-04-16 05:40] amateur-dev commented on #326
Similar error message:

[code]

[2021-04-16 05:45] abcoathup commented on #326
Hi @amateur-dev,

The proxy and ProxyAdmin are precompiled.  They should be verified on most public networks.

Can you advise what version of Upgrades Plugins you are using, which network you have deployed to along with the address of your proxy and ProxyAdmin?

[2021-04-16 06:47] amateur-dev commented on #326
[code]

I guess that pre-compilation is creating the issue.  Since harhat is trying to verify using solidity `0.8.0` but the other contracts are compiled at `0.6.12`

[2021-04-16 06:52] amateur-dev commented on #326
Deployed network: Kovan
Implementation Address: 0x2a151C797ECC7e5568781a9DC8142d60aA61EDe1
Admin Address: 0x7A37391Df19a42c6b8C53d97846e47500C296b70
Proxy Address: 0x7a37391df19a42c6b8c53d97846e47500c296b70

[2021-04-17 17:55] ankitiitb1069 opened #327 "Not able to deploy upgradable smart contract with initializer argument"
I have two upgradeable smart contracts, one is getting deployed successfully.
The second contract requires address of first contract in initialize function.
I am getting the following error:

`"AdminUpgradeabilityProxy" -- The contract code couldn't be stored, please check your gas limit..`

Here is deployment code:

     module.exports = async function (deployer) {

       const existing = await

[2021-04-18 08:15] #327 closed

[2021-04-18 23:33] iyusdi opened #328 ""ProxyAdmin" -- only replay-protected (EIP-155) transactions allowed over RPC."
I upgraded to truffle 5.3.2 to avoid this error on normal contract deploys, but it now fails when trying to deploy ProxyAdmin to mainnet.

Two other contacts deploy in the same migration step before this, so truffle seems to be working.

First my Migrations contract is deployed. (success)
Then my main contract is deployed. (success)

But the ProxyAdmin deploy fails with this error in the same migr

[2021-04-19 20:19] frangio commented on #328
Thank you for reporting this issue @iyusdi. How are you connecting to mainnet? Who is your provider?

[2021-04-19 20:23] frangio commented on #328
This may be happening because `@openzeppelin/truffle-upgrades` has a direct dependency on `@truffle/contract`, which has to be updated separately. Can you make sure the version of `@truffle/contract` is 4.3.11 or greater?

[2021-04-19 20:25] frangio commented on #327
Hi @ankitiitb1069. Were you able to solve this?

[2021-04-19 20:30] iyusdi commented on #328
I'll check on the @truffle/contract dependency and let you know, thanks.

[2021-04-20 05:04] ankitiitb1069 commented on #327
Yes, I was calling _grantRole of AccessControlUpgradeable in initializer function, replacing it with _setupRole worked just fine

[2021-04-20 21:14] frangio commented on #326
The contracts are verified now. Sorry about the inconvenience. Should be automated very soon.

[2021-04-20 21:14] #326 closed

[2021-04-23 00:28] frangio opened #342 "Support beacon proxies"
Given that OpenZeppelin Contracts contains beacon proxies, it would be expected that the Upgrades Plugins should support them as well.

It is not clear if this should take the form of a `kind: 'beacon'` option to `deployProxy`, or if it should be a new family of functions: `deployBeacon` and `upgradeBeacon`. It seems that people interested in beacons will exclusively be those using on chain factor

[2021-04-23 02:46] abcoathup commented on #328
Hi @iyusdi,

Did updating the `@truffle/contract` version resolve the issue?

[2021-04-26 18:01] frangio commented on #310
Fixed in #315!

[2021-04-26 18:01] #310 closed

[2021-04-27 21:35] jake-sanjuan opened #346 "Forking Mainnet With Upgrades Package"
Hello all,

I am attempting to test a set of upgradeable contracts using the mainnet forking abilities on Hardhat.  Unfortunately, whenever I attempt to run my tests I receive this error message:
[code]
With this stack trace:
[code]
At this line of code in my test file:
[code]
I have done a lot of research on this issue and am aware that this issue is very similar to the one resolved in issue #282

[2021-04-28 06:28] abcoathup commented on #346
Hi @jake-sanjuan!

I’m sorry that you had this issue.

Unfortunately, I wasn’t able to reproduce this issue. I tried the following:

1. `Box.sol` contract, `Box.js`, `Box.proxy.js` from: https://forum.openzeppelin.com/t/openzeppelin-upgrades-step-by-step-tutorial-for-hardhat/3580

## hardhat.config.js
Configure Hardhat fork
[code]
Test runs using mainnet fork
[code]

Can you try creating a simple

[2021-04-28 10:44] jake-sanjuan commented on #346
Hi @abcoathup

Thanks for getting back to me quickly.  I recreated using `Box.sol`, `Box.js` and `Box.proxy.js`.  The problems seems to be in my `hardhat.config.js` file, specifically with `chainId`.  Here is where it is the config file:
[code]
When adding the `chainId` to the config file for the Box project and running the tests twice, I get the same error:
[code]
The tests work as expected the f

[2021-04-29 03:21] abcoathup commented on #346
Hi @jake-sanjuan,

Running the tests twice reproduced the issue:

I had to modify the tests to add `  this.timeout(0);` so they didn't timeout.  Running twice gave the error:
[code]

Thanks so much for reporting it! The project owner will review and triage this issue as soon as they can.

[2021-04-29 14:30] frangio commented on #346
This makes sense. What's happening is that when you run the first test, it stores the deployment in your network file, and in the second run it sees that the deployment for this particular implementation contract has already been made, but the network was reset, so when it tries to reuse it it actually sees that there is no code in it, and that's when the error you're seeing gets triggered.

The r

[2021-04-30 10:17] jake-sanjuan commented on #346
Thank you for the explanation this makes a lot of sense.  What I am writing is part of a larger project, which has been using the chainId to check a signer against a particular id in the test cases of another contract.

[2021-04-30 10:59] evgenynacu commented on #73
@frangio this is nice feature to have
Currently there is workaround - you can just rename field in .openzeppelin/*.json
Working good

[2021-04-30 14:36] frangio commented on #304
Feel free to reopen is this is not solved.

[2021-04-30 14:36] #304 closed

[2021-04-30 14:36] frangio commented on #328
Assuming this was due to an old version of `@truffle/contract`. Please reopen if the issue wasn't solved.

[2021-04-30 14:36] #328 closed

[2021-04-30 14:38] frangio commented on #287
We don't currently have an out of the box factory contract but it should be relatively simple to build one using proxies from OpenZeppelin Contracts.

[2021-04-30 14:38] #287 closed

[2021-04-30 14:40] frangio commented on #73
Awesome suggestion @evgenynacu! Thanks.

---

Starting with Solidity 0.8.2 we could now implement this using `@custom` NatSpec tags:

[code]

[2021-04-30 23:52] frangio commented on #346
Got it. We'll change this so a deployment with a tx that can't be found in the network is always ignored, not only on Hardhat Network. May be on Monday, sorry about the delay.

[2021-05-02 16:14] iconofsin commented on #326
Is there a temporary automation workaround for this?

[2021-05-03 19:44] frangio commented on #326
Not at the time.

[2021-05-03 20:56] frangio opened #348 "Default to kind:uups if UUPSUpgradeable in inheritance list"

[2021-05-03 23:01] frangio commented on #346
@jake-sanjuan This should be fixed on the latest release of `@openzeppelin/upgrades-core`.

In the end we fixed it by using `web3_clientVersion` to check if the node is Hardhat Network or Ganache, regardless of its chain id. But this should fix it for you.

[2021-05-03 23:01] #346 closed

[2021-05-04 12:57] jake-sanjuan commented on #346
Solved, thank you for doing that, you guys rock!

[2021-05-05 05:30] canokaue opened #351 "Contracts deployed on the wrong order"
Hi, this has been bugging me for a while and I can't seem to figure out why, but the:
`
const ProxyContractFactory = await upgrades.deployProxy(ContractFactory, [arg1, arg2]);`

Keeps deploying the implementation first, then ProxyAdmin, then TransparentUpgradeableProxy; so implementation contract is never initialized. This can be observed numerous times here:

https://rinkeby.etherscan.io/address/

[2021-05-05 13:26] frangio commented on #351
Hi. This is the order that it's supposed to be deployed in.

What do you mean by "implementation contract is never initialized"? The proxy is the one that is meant to be initialized, and it seems it is being initialized with this internal delegatecall that can be seen here:

![image](https://user-images.githubusercontent.com/481465/117146830-fc9a6100-ad8a-11eb-9da0-8e02a08d98d7.png)

https://rinke

[2021-05-05 14:56] canokaue commented on #351
Hi @frangio thanks for the quick response!

From what I understood, the implementation contract should be initialized by the proxy by calling the initialize() function inside CampaignFactory there. Please correct me if I'm wrong.

Do I need to manually initialize the implementation contract via ethers/etherscan?

[2021-05-05 18:02] frangio commented on #351
The plugin initializes the storage of the proxy by calling the initialize function in your implementation contract. The implementation contract is never initialized by the proxy. It's not really necessary to do it, though some people do it as an extra security measure. Is this what you're referring to? Again, it's not really necessary, which is why the plugins don't do it.

[2021-05-05 18:44] wanglonghong opened #353 "UUPSUpgradeable compile error"
DocstringParsingError: Documentation tag @custom:oz-upgrades-unsafe-allow not valid for contracts.
  --> @openzeppelin/contracts-upgradeable/proxy/ERC1967/ERC1967UpgradeUpgradeable.sol:10:1:
   |
10 | /**
   | ^ (Relevant source part starts here and spans across multiple lines).

Solidity Version: 0.8.2
@openzeppelin/contracts-upgradeable: 4.1.0
hardhat: 2.2.1

[2021-05-05 20:02] frangio commented on #353
Hi @wanglonghong. This is strange. Can you share minimal steps to reproduce this issue? I was able to compile the contracts using Solidity 0.8.2 as follows:

[code]

[code]

[code]

[2021-05-05 23:54] wanglonghong commented on #353
Hi @frangio Thank you for your reply.

I have tried again, but same issue.

package.json
"devDependencies": {
    "@eth-optimism/plugins": "0.0.4",
    "@nomiclabs/hardhat-ethers": "^2.0.1",
    "@nomiclabs/hardhat-etherscan": "^2.1.1",
    "@openzeppelin/hardhat-upgrades": "^1.7.0",
    "dotenv": "8.2.0",
    "ethers": "^5.1.4",
    "hardhat": "^2.2.1",
    "prettier-standard": "16.4.1",
    "rim

[2021-05-06 00:13] wanglonghong commented on #353
Hi @frangio

[(https://github.com/Plutus-Gaming-NFTs-Reimagined/Plutus-Contracts)]

This is my repository which has above issue. Could you check AlturaNFTSwap.sol Contract?
Thank you so much

[2021-05-06 01:26] frangio commented on #353
I cloned your repository, ran `npm install`, and then `npx hardhat compile` which worked correctly.

Not sure what could be going wrong on your side.

[2021-05-06 02:22] wanglonghong commented on #353
Same issue on my end.

[2021-05-06 02:46] wanglonghong commented on #353
Hi @frangio
It is working on Ubuntu VM. I am not sure why not working on Windows10.

[2021-05-06 15:35] frangio commented on #353
In the meantime you could try compiling with a more recent Solidity version.

[2021-05-06 15:40] wanglonghong commented on #353
Thank you for your info

[2021-05-06 16:07] frangio commented on #353
I was able to reproduce this on Solidity 0.8.2 on Windows (https://github.com/OpenZeppelin/openzeppelin-contracts/pull/2664). But Solidity 0.8.3 seems to be good! Please try that and let me know if you keep running onto the same issue.

There must be something wrong with the Windows binary for that version.

[2021-05-06 16:51] wanglonghong commented on #353
Hi @frangio
I could compile that on Solidity 0.8.4. Thank you. Btw could you help me for one more thing? I want to verify proxy contract which deployed using deployProxy (kind: 'uups'). but failed several times.
If you can guide me simply, it will be great.

Thank you so much

[2021-05-06 21:11] frangio commented on #353
@wanglonghong Yes, can you share the address? You can also email me if you prefer it not be public.

[2021-05-07 01:47] wanglonghong commented on #353
{
  "manifestVersion": "3.2",
  "impls": {
    "95d7a95efaaf52ce2ade22b3fc4d470317448846783926ad2ac73960748168ac": {
      "address": "0xF54140B3317fA04798e224565834aE4AF45081C4",
      "txHash": "0xa263df1708eba39575e37a4b7bb20ec5f3ba5c1b733fc25ac054e4d81a0ed94b",
      "layout": {
        "storage": [
          {
            "contract": "Initializable",
            "label": "_initialized",

[2021-05-07 13:53] wanglonghong commented on #353
Hi @frangio
Do you need anything else?

[2021-05-07 16:37] jacobrosenthal opened #354 "plugin-hardhat upgradeProxy upgradeTo call doesnt await receipt"
Weve largely had success with manual one off upgrades until when we started to script multiple upgrades at a time and kept getting
[code]

Adding an `await receipt.wait();` after `upgradeTo` seemed to fix it for us
https://github.com/OpenZeppelin/openzeppelin-upgrades/blob/master/packages/plugin-hardhat/src/upgrade-proxy.ts#L37

But it seems like the codebase should be combed for other receipts it

[2021-05-07 22:12] frangio commented on #354
Thanks for reporting this issue!

We've purposely avoided unnecessarily waiting for transactions to mine, since it can introduce unwanted delays. In your case it seems like you want that delay, but the plugin doesn't give you any way to do that.

Something we could do is to set the upgrade transaction as the `deployTransaction` of the contract we return.

https://github.com/OpenZeppelin/openzeppel

[2021-05-07 22:23] frangio commented on #353
I've reported the Windows issue to the Solidity team: https://github.com/ethereum/solidity/issues/11358

As a workaround for anyone running into this, please use Solidity 0.8.3 on Windows.

[2021-05-07 22:23] #353 closed

[2021-05-09 15:42] PatrickAlphaC opened #356 "Add support for Brownie"
It would be great to add brownie support here. https://github.com/eth-brownie/brownie

[2021-05-10 13:38] frangio commented on #356
Thanks for the request @PatrickAlphaC. Unfortunately, this is unlikely to happen, since Brownie is in Python and this is written for the JavaScript ecosystem.

[2021-05-10 13:38] #356 closed

[2021-05-10 21:46] Remscar opened #358 "Ability to deploy proxy using create2"
It would be helpful if it were possible to define a salt when calling `deployProxy` which would indicate to use CREATE2 and deploy out a proxy at a deterministic address.

Happy to elaborate more, but for instance if I wanted to deploy the same upgradable proxy on two different chains, and make it so they have the same address, it wouldn't be possible when using this library.

[2021-05-12 16:11] frangio commented on #358
Can you elaborate how this would work? As far as I can tell we would need to deploy a create2 factory contract, which would also need to be on the same address on every network, so it's kind of a circular problem.

[2021-05-12 19:46] frangio commented on #358
Yeah the hard thing is getting the factory in the same address on every network. As far as I know this is only possible to do reliably using ["Nick's method"](https://weka.medium.com/how-to-send-ether-to-11-440-people-187e332566b7).

The ability to deploy proxies on the same address on every network sounds good, but unfortunately we don't have enough bandwidth right now to make it a priority.

[2021-05-12 20:45] frangio commented on #354
Fixed in https://github.com/OpenZeppelin/openzeppelin-upgrades/commit/1c92fb7d7551d28e8af8aadd8d7c6f2d0376fd0e#diff-b28b1ed9821f38c64524ea13e19264bb0772f8376afffd5d8a1f8277621833eb and released in the latest version of the Hardhat plugin.

@jacobrosenthal Please try it out and let me know. Both `.deployed()` and `.deployTransaction.wait()` should work.

[2021-05-12 20:45] #354 closed

[2021-05-12 23:02] jacobrosenthal opened #359 ""Bytecode is not a valid hex string" when updating hardhat-upgrades to 1.8 from 1.6"
Were using sol7 in our contracts
[code]

in hardhat config
[code]

upgraded dependencies for latest hardhat-upgrades release 1.8:
[code]
But now deploy is failing out deploying the first proxy contract

[code]

Deploy of this contract is pretty standard, initialization done later
[code]

Last known working versions were
[code]

[2021-05-12 23:13] jacobrosenthal commented on #359
So I rolled all solidity contracts back to 7.2 and it seems to be working. Can you confirm current supported solc7 is 7.2? Also is that documented outside of the release tag presuming thats what this means? `3.4.1-solc-0.7-2` Ive searched the changelog and blog release any theyre not very specific on sol7 support

[2021-05-13 06:05] jacobrosenthal opened #360 "deployProxy "Cannot read property 'wait' of null""
Probably very similar to https://github.com/OpenZeppelin/openzeppelin-upgrades/issues/354

During high transaction periods, deployProxy returns null. presumably the internal proxy deploy transaction isnt being waited on, and or one of the two tx is failing silently

[code]

during normal network conditions, the code obviously works fine and deployTransaction exists and is waited on successfully
[c

[2021-05-13 15:05] frangio commented on #359
Let me take a look at this, all Solidity versions should be supported so this is a bug.

[2021-05-13 15:10] frangio commented on #359
Would you mind sharing your artifact file found somewhere like `artifacts/contracts/Contract.sol/Contract.json`?

[2021-05-13 15:33] jacobrosenthal commented on #359
Surely. Yeah thinking about it now, a different upgradable contract does deploy successfully before this one, so it cant be broken for all contracts and could be something in this one

[code]

[2021-05-13 16:11] frangio commented on #360
I published a new release of the Hardhat plugin that I think should fix this.

[2021-05-13 16:11] #360 closed

[2021-05-13 16:19] frangio commented on #359
Are you using external library linking in any of your contracts? I'm struggling to reproduce the error so if you could try to put together a minimal repository that reproduces it I would appreciate it.

[2021-05-13 17:14] jacobrosenthal commented on #359
Yes theres several contracts that use external linking, however theyre farther along in the deploy process and this one that keeps failing is not, as you can see above. Well probably just not update before our next release at which point everything will be open sourced and should be easier to discuss.

[2021-05-13 17:58] frangio commented on #359
From looking at the code it makes sense that other unrelated contracts would also be causing this. I'll try to reproduce it with this inof now!

[2021-05-13 18:06] jacobrosenthal commented on #55
Did this get snuck in somewhere else by any chance? With congestion what it is, and several other fixes, Im now not crashing and able to wait for deploys, but now I'm timing out :)

[2021-05-13 18:08] jacobrosenthal commented on #359
Id be more than happy to share more. Can we chat in telegram @jacobrosenthal or discord Jacob Rosenthal#3661

[2021-05-13 18:43] frangio commented on #55
Can you clarify if you're running into an internal timeout of the plugin, or is it timing out when you use `.wait()`?

[2021-05-13 19:37] jacobrosenthal commented on #55
looks internal
[code]

[2021-05-13 20:45] frangio commented on #55
As a workaround, anyone running into this can catch the `TransactionMinedTimeout` error and rerun `deployProxy`/`upgradeProxy`, which will resume waiting for the transaction that timed out.

[2021-05-13 20:49] frangio commented on #359
This should be fixed on the latest release of `@openzeppelin/upgrades-core`.

[2021-05-13 20:49] #359 closed

[2021-05-14 12:37] Nenad7955 opened #361 "Mapping with enum"
Hey guys!
enum Option...
mapping(Option => uint)...
causes this error:

     Error: An unexpected condition occurred. Please report this at https://zpl.in/upgrades/report
      at Object.assert (node_modules/@openzeppelin/upgrades-core/src/utils/assert.ts:8:11)
      at StorageLayoutComparator.uncachedGetTypeChange (node_modules/@openzeppelin/upgrades-core/src/storage/compare.ts:189:9)
      at St

[2021-05-14 13:05] frangio commented on #361
Hi @Nenad7955. Can you please share the source code for the current version and the one you're trying to upgrade to?

[2021-05-14 13:09] Nenad7955 commented on #361
i just added a setter for a variable, source code ill be able to share in a few hours.
versions:
"@openzeppelin/contracts-upgradeable": "^4.1.0",
"@openzeppelin/hardhat-upgrades": "^1.7.0",
In any case, as soon as I commented out the mapping with the enum as key, the error dissapeared.

[2021-05-16 17:38] marknguyen85 opened #362 "Error: EEXIST: file already exists, mkdir"
Hi there
I'm using hardhat with solidity v0.7.3 to compile here is my code:

in the config file
[code]
and in the deploy file
[code]

when i ran `npx hardhat compile` the got error:

[code]

plz check it for me.

[2021-05-19 18:40] frangio commented on #362
This does not seem to be caused by this plugin... Please ask in [Hardhat's Discord](https://hardhat.org/discord).

[2021-05-19 18:40] #362 closed

[2021-05-21 23:30] rok4f opened #365 "Truffle deployProxy() Error: Unsuported TypeName node type: Mapping"
Hi all:

See sample project at [deployproxy-test](https://github.com/rok4f/deployproxy-test) .

Migration code:

[code]

Run command:

[code]

get error:

[code]

But after deleting `contracts/test/IBNEST.sol` it will be fine:

[code]

versions:
@openzeppelin/truffle-upgrades: 1.7.0
Truffle: v5.3.6 (core: 5.3.6)
Node: v14.15.5
Ganache CLI: v6.12.2 (ganache-core: 2.13.2)

[2021-05-22 00:10] frangio commented on #365
Thanks for reporting and for the easy reproduction steps. I've identified the issue, I'll let you know when it's fixed.

[2021-05-22 00:25] frangio commented on #365
Fixed in https://github.com/OpenZeppelin/openzeppelin-upgrades/commit/bae728f15d7a30c7a07421681e50c4a467d57200 and published in `@openzeppelin/upgrades-core@1.7.4`!

[2021-05-22 00:25] #365 closed

[2021-05-22 00:55] frangio commented on #361
I've fixed this in https://github.com/OpenZeppelin/openzeppelin-upgrades/commit/75e9a407c3a38535b728ec1027fed721b89bf179, in the sense that it's no longer an unexpected condition. But upgrading a mapping key from uint to enum is considered a bad upgrade and not allowed.

[2021-05-22 00:55] #361 closed

[2021-05-25 11:35] brg-andrew opened #368 "Cannot apply migration because smart-contract uses enums and a struct"
Hello. I encountered the issue below when wrote migration to upgrade my smart-contract to a new version.
My smart-contract includes 2 enums and a struct.

Here is the error I am seeing:

Error: An unexpected condition occurred. Please report this at https://zpl.in/upgrades/report
    at Object.assert (/home/user/Projects/node_modules/@openzeppelin/upgrades-core/src/utils/assert.ts:7:11)
    at Sto

[2021-05-25 14:33] brg-andrew commented on #368
Looks like the problem is not about enum, but because my contract uses mapping form contract to int256. As far as I understand, such mapping is allowed at least by solidity 0.7.6. So the question is which version of @openzeppelin/truffle-upgrades should be used?

[2021-05-25 15:42] #368 closed

[2021-05-25 15:53] brg-andrew commented on #368
Hi @frangio many thanks for fixing this issue. Can you please also update truffle-upgrades to use @openzeppelin/upgrades-core@1.7.6?

[2021-05-25 15:59] brg-andrew commented on #368
Many thanks, @frangio !

[2021-05-26 01:21] broccolirob commented on #313
@Remscar You don't have to do all that with the manifest. The proxy stores the current implementation address at the same storage location. Try this:

[code]
That "0x360...bbc" is a constant that represents a location in storage on the proxy contract itself, the proxy is the only variable. You can pull this out into a function and call it in your deploy & upgrade scripts:

[code]

[2021-05-27 00:28] rellfy opened #369 "UUPS: Warning: A proxy admin was previously deployed on this network."
After a clean install, deploying only UUPS proxy contracts, the following warning is thrown during each contract deployment for a local hardhat network.
[code]
My guess is that the plugin still deploys a proxy admin for UUPS proxies, or that somehow some data from my previous Transparent proxy deployments is still in my computer somewhere, triggering the alert -- but as I said, I did try with a cl

[2021-05-27 01:04] frangio commented on #369
Thank you for reporting @rellfy.

Did you delete the `.openzeppelin/unknown-31337.json` file? This is the network file for Hardhat Network.

[2021-05-27 06:18] rellfy commented on #369
Thanks, that was indeed what was triggering the warning.

[2021-05-27 06:18] #369 closed

[2021-05-29 06:22] fab-spring opened #370 "Not able to use a different `from` account for upgrades.upgradeProxy"
According to the documentation, one should be able to upgrade a Proxy contract to a new logic contract via:
[code]

However, I've tried changing `deployer` to a different account, and the caller of the transaction is always the same.
I'm using hardhat, not truffle.

[2021-05-29 12:06] Amxx commented on #370
Hello @fab-spring

This is an issue I have also encountered. This is because the transaction is sent using hardhat's `hre.provider`.
Unfortunately, I don't have an easy fix for you right now. I'll put that at the top or our list

[2021-06-04 09:04] hoiJuwon commented on #279
@ccolorado
Hi, I am struggling same issue above. Can you tell me your new ubuntu vm version or truffle version which solve the issue?

[2021-06-04 13:26] frangio commented on #279
@hoiJuwon Probably anything that isn't Windows would solve it. Try using WSL.

[2021-06-04 13:38] hoiJuwon commented on #279
@frangio
Im using mac os.We solved by upgrading solc version to 0.6.12 (from 0.5.6) Thx for reply👍

[2021-06-06 06:45] parkjihwanjay commented on #279
Is there anyone having a problem with deployProxy in mac os m1 silicon?

[2021-06-07 00:26] frangio commented on #279
@parkjihwanjay Can you describe your problem?

[2021-06-07 02:53] parkjihwanjay commented on #279
Hi I'm using @openzeppelin/truffle-upgrades ^1.7.0 and my Computer is macbook air(m1, 2020), macOs BigSur.

I'm using solc version of 0.5.6 and before using @openzeppelin/truffle-upgrades, it compiled and migrated well. However, when I tried to deploy my contract with deployProxy which is provided by @openzeppelin/truffle-upgrades packages, I encountered with the error like below

[code]

The erro

[2021-06-11 13:39] KaiStryker opened #375 "Trouble with using owanable upgradeable contract with Truffle upgrades plugin"
Been having trouble using ownable upgradable contract with my upgrades. When I deploy with the truffle upgrades plugin, if I have onlyOwner modifier on my contract, the deployment fails with a “owner is not the caller” error even tho when I test without the modifier the owner is properly set to the deployed address.

Is this a bug you’ve noticed in the upgrade plugin? because there’s nothing actua

[2021-06-11 14:14] paulrberg commented on #370
Being able to set a new deployer would indeed be great.

[2021-06-11 14:33] Amxx commented on #375
Hello @KaiStryker

First of all, you should make sure that you call the Ownable initializer before doing calling any function that has the onlyOwner modifier. Can you check that you are chaining the initializers (or leave a link to you code) ?

[2021-06-11 22:21] KaiStryker commented on #375
Hi @Amxx

Thanks for getting back to me.

I chained the initializers. I verified this by deploying the base contract and calling the owner function on it, which returned the address I deployed from.

Here's a sample of my code for the contract:

    contract CoinSwap is PullPaymentUpgradeable, OwnableUpgradeable{

    ISwapRouter public constant UNISWAP_ROUTER = ISwapRouter(0xE592427A0AEce92De3Ede

[2021-06-11 22:25] Amxx commented on #375
You are calling setFee before you initialize the ownable contract...

[2021-06-11 22:36] KaiStryker commented on #375
Haha how silly of me. Thanks for providing the extra pair of eyes

On Fri, Jun 11, 2021 at 6:25 PM Hadrien Croubois ***@***.***>
wrote:

[2021-06-11 22:37] #375 closed

[2021-06-11 23:07] bundle-boy commented on #342
Nearing two months since this has been published. Any updates here?

Also wondering why beacon proxies aren't supported in the upgrades plugin; it does seem like a fairly niche use-case, but would be a nice quality of life improvement to be able to use the plugin on these.

[2021-06-14 03:44] wozz opened #378 "truffle: Web3ProviderEngine does not support synchronous requests"
While trying to deploy upgradeable contracts using a ledger for signing, I encountered this error:
[code]

Seems to be a similar issue to described here (and my setup is very similar to that issue): https://github.com/LedgerHQ/ledgerjs/issues/508

[2021-06-14 09:36] Amxx commented on #378
Hello @wozz

This appears to be a Web3ProviderEngine / Ledger issue and doesn't originate from OZ's upgrades plugins. You might what to raise an issue in the corresponding repo.

[2021-06-14 20:26] frangio commented on #378
I think this is actually an issue in this project because we're calling `send` if it's available instead of `sendAsync`. This should've been fixed in #341 but it appears it wasn't implemented correctly.

[2021-06-14 20:33] frangio commented on #342
@bundle-boy We agree it would be awesome to support beacon proxies here and hope we can work on this in the next few weeks.

Can you comment on the question of `deployBeacon` vs `deployProxy`? I'd love to hear how you would expect to use the plugin in the context of beacon proxies so we can have more clarity on the direction we should take.

[2021-06-14 20:39] frangio commented on #378
Should be fixed now in the latest release (`@openzeppelin/truffle-upgrades@1.7.1`).

@wozz Please try it out and let us know if it works.

[2021-06-14 20:39] #378 closed

[2021-06-14 20:41] wozz commented on #378
Thanks! I will test this evening.

[2021-06-19 15:17] ylv-io commented on #342
I want to share my experience using beacon proxies for development and deployment. We use on-chain factory to deploy beacon proxies so we don't need `deployBeacon` functionality at all. Even tests use factory class to test for upgradability. We do use method `upgradeBeacon` to upgrade our beacon proxies via Hardhat script which is quite handy. Unfortunately, right now script is not capable to veri

[2021-06-22 20:32] clemsos commented on #86
Hello, any update or preferred approach for this? Thank you !

[2021-06-22 21:05] Amxx commented on #86
Hello @clemsos, there hasn't been any news, and I can't promise it will be supported anytime soon.

The best option, in my opinion, is to have an "importer" contract in your `contracts` folder

[code]

This will cause truffle to recompile the contract, and make it available as a "local artifact" that you can deploy

[2021-06-23 02:45] Tom1054 opened #379 "error : The requested contract was not found. Make sure the source code is available for compilation"
Firstly , I have already deployed *.sol in bsc testnet ,but I redeployed a second time ，and it appeared this error:

The requested contract was not found. Make sure the source code is available for compilation. I didn't change the code in the process

[2021-06-23 07:15] Amxx commented on #379
Hello @Tom1054

One does not deploy a solidity file. What you deploy is a contract's bytecode, which is the result of compiling it. It is likely you used some tooling for that (truffle ? hardhat ? remix ?)

Without more details about the tooling, there is nothing we can do to help you. Also, it's likely that this issue is a result of the tooling and not of our contracts. I encourage you to ask the

[2021-06-23 07:15] #379 closed

[2021-06-23 13:53] clemsos commented on #86
thanks @Amxx . The problem here is that we don't have the `.sol` files - just ABIs. From what I understood, the upgrades lib require the .sol contract files to check storage layout etc. Is that correct?

[2021-06-23 13:56] Amxx commented on #86
The upgrade plugin compares the new artifact against the storage layout stored in the manifest that was produced when the previous version was deployed (assuming it was deployed using OZ's tolling).

You should have a `.openzeppelin/network.json` with this infos.

[2021-06-23 23:44] habdelra commented on #358
Gnosis safe factories already do this, have a single contract that can exist at the same address in every network. And in fact they even have a “replay” script that anyone can use to deploy the factory in a network where it doesn’t exist yet and it will deploy to the same address. My understanding is that the resulting address for `create2` is that it is a hash of the bye code for the contract and

[2021-06-24 07:55] Amxx commented on #358
@habdelra, an EOA (wallet with a private key) cannot use `create2`. `create2` power can only be used by a smart contract. This is why you need a factory.

You first need to use a script similar to what gnosis does to create the factory at the right address ... and then (and only then) you can use create2 to instanciate "child-contracts".

If you want a generic factory, that is available on most ne

[2021-06-24 09:34] RusAlex opened #380 "docs/ folder navigation does not work well"
When open docs/modules/ROOT folder in project root, there is nav.adoc file. I suppose the file is for antora, although I did not use this software. But when you click on any navigation link in nav.adoc, 404 error comes. Maybe it's Github adoc parser issue, or maybe we can setup antora the way both navigation will work and antora results and github folder navigation with adoc parser.

If somebody c

[2021-06-24 12:26] Amxx commented on #380
Hello @RusAlex

404 are because the link are not relative but absolute. Example of link:

```  <a class="link nav-link" href="/contracts/4.x/erc20.html">```

For the links to work, you need to serve these pages through a web server that places its root at `build/site`

If you want to modify the documentation, and check the results locally, you should probably use the `npm run docs:watch` command,

[2021-06-24 12:26] #380 closed

[2021-06-24 12:27] RusAlex commented on #380
ok. I thought it's supposed to work via github documentation render. Which would be useful.

[2021-06-24 14:35] lbeder commented on #312
We also encountered this issue when we need to provide constructor arguments to initialize `immutable` state variables. For example, would it be possible to add an optional `ctorArgs` argument to the `deployProxy` method to support it?

I also tried to hook `ContractFactory`'s `deploy` method with a method supplying it. Still, since the framework treats the factory as a singleton - I can't initial

[2021-06-28 03:11] zhangliang7190 opened #381 "TypeError: Cannot read property 'errors' of undefined"
I have used the @openzeppelin/truffle-upgrades@1.5.0 without the package @openzeppelin/upgrades-core when I deploy an upgradable contract some weeks ago。I create a new project with my contracts code and take this errors：

[code]

I have change all the packets to the same version with my old project ,but still occured the same error?
how Can I do not use this @openzeppelin/upgrades-core packages? O

[2021-06-28 06:14] zhangliang7190 commented on #381
my system options :
Truffle v5.3.8 (core: 5.3.8)
Solidity - 0.6.12 (solc-js)
Node v15.9.0
Web3.js v1.3.6

[2021-06-28 06:15] zhangliang7190 commented on #381
runable truffle packages:
[code]

[2021-06-28 08:47] Amxx commented on #381
Hello @zhangliang7190

`@openzeppelin/upgrades-core` is an internal "library" that is used by `@openzeppelin/truffle-upgrades` and `@openzeppelin/hardhat-upgrades`. You should not have to deal with it directly.

Can you share the line of script that, when called, triggers this error ?

[2021-06-28 08:54] Amxx commented on #381
Note that you are not using the latest version of the upgrades plugin. Version are backward compatible, and include a manifest migration mechanism.

I would encourage you to save a backup of your `.openzeppelin` folder, upgrade to the latest version of the plugin (`@openzeppelin/truffle-upgrades:1.7.0`) and see it that fixes anything.

[2021-06-29 07:40] zhangliang7190 commented on #381
I think that is my contracts's problem. I have to try it. tks

[2021-06-29 07:40] #381 closed

[2021-06-29 20:32] frangio commented on #312
@lbeder Yes this is possible, but I don't know when we'll be able to work on it.

[2021-06-29 20:34] frangio commented on #370
There is some confusion about the `deployer` argument. This is Truffle's notion of a deployer object, the thing that keeps track of deployments during migrations.

For setting a new `from` argument, the workaround currently is to set it in the network configuration. But this doesn't work if you need different acounts for different deployments.

[2021-06-29 22:23] paulrberg commented on #370
Can you show an example for this?

[2021-06-29 22:42] lbeder commented on #312
I totally understand. If I'd create such a PR (converging both truffle and hardhat, UUPS and TransparentProxy, and full tests) - will this be something you'd consider merging?

[2021-06-30 08:33] Amxx commented on #312
@lbeder provided that it follows the style and logic of the rest of the code, we would definitely consider it !

[2021-06-30 10:52] lbeder commented on #312
Thanks :)

[2021-06-30 23:31] lbeder commented on #312
@Amxx I've made good progress, but I'm currently stuck on some the last stage and contemplating how to proceed.

Everything is hunky-dory, other than the fact that the calculation of the "version" of the logic in `getVersion(unlinkedBytecode, ImplFactory.bytecode)` doesn't take into account that immutable state variables are going to be backpatched in the bytecode, thus it caches the first deploye

[2021-07-01 12:39] lbeder commented on #312
You can find it here: https://github.com/OpenZeppelin/openzeppelin-upgrades/compare/master...lbeder:ctor-args?expand=1 and other than the issue with the caching of the logic contract (which causes the tests to fail) - it's good for review.

[2021-07-01 21:19] frangio commented on #370
Yes, for example in `hardhat.config.js`:

[code]

[2021-07-01 21:41] frangio commented on #312
Thanks for tackling this! Making this work with immutable variables is going to be a lot more effort. Caching is not the only problem! I suspect upgrading a proxy will not work if the current impl used an immutable variable. I actually hadn't thought about this but it's going to be a problem for anyone using `unsafe-allow state-variable-immutable`. You should add a test for `upgradeProxy` to see.

[2021-07-02 00:41] lbeder commented on #312
Oh, I missed that. I'll definitely add a test using `upgradeProxy` 😅 .

I'll try the ABI-encoded constructor arguments key approach. Good idea!

[2021-07-03 23:55] 5hanth commented on #354
@frangio curious if this can help my use-case. I want to deploy the new implementation and store that TX that will be used for a Governance voting eventually by `_authorizeUpgrade(address newImplementation)` to check if the given implementation has enough votes to go through. so far it appears to me that there isn't a way to make the deployment of v2 first and call upgrateTo at a later stage.  Ple

[2021-07-05 06:48] Amxx commented on #354
Hello @5hanth

You can use the `prepareUpgrade` function. This will check the compatibility of the new implementation and deploy it to chain but NOT make the upgrade.

This function will return the instance of the newly deployed version.

You can then do you governance operation and perform the upgrade at a later stage.

[2021-07-06 16:58] 5hanth commented on #354
@Amxx Yes, I was planning in that approach. But for some reason calling `MyContractV1.upgradeTo(implAddress)` fails with reason `Address: low-level delegate call failed`. Is this not the native way of upgrading after `prepareUpgrade` via plugin?

[2021-07-06 17:43] frangio commented on #354
If you're using transparent proxies (the default) you need to call the `upgrade` function of the `ProxyAdmin` contract. You can find the `admin` address in your `.openzeppelin/mainnet.json` file (or other network).

[2021-07-06 18:00] 5hanth commented on #354
@frangio I'm using UUPS

[2021-07-06 18:16] frangio commented on #354
@5hanth Can you post your question on the [OpenZeppeiln Forum](https://forum.openzeppelin.com/)? Include more details about how you have defined `_authorizeUpgrade`.

[2021-07-06 18:29] 5hanth commented on #354
I'll post on OpenZeppelin. Just in case anyone wants to know this:

[code]

signer has an admin role. The error occurs on reading any state variable.

[2021-07-07 17:50] andreihrs opened #386 "@custom:oz-upgrades-unsafe-allow for external-library-linking not valid for contracts"
DocstringParsingError: Documentation tag @custom:oz-upgrades-unsafe-allow not valid for contracts.
  --> contracts/Vault.sol:17:1:
   |
17 | /// @custom:oz-upgrades-unsafe-allow external-library-linking
   | ^ (Relevant source part starts here and spans across multiple lines).

My implementation is:

/// @custom:oz-upgrades-unsafe-allow external-library-linking
contract Vault is .....

[2021-07-07 20:13] frangio commented on #386
`@custom` tags are only available for Solidity >=0.8.3.

[2021-07-07 20:13] #386 closed

[2021-07-10 09:19] ashleshsortee opened #387 "Cannot use 'in' operator to search for 'sendAsync' in undefined"
I am writing tests for interacting with implementation contract via the proxy and am getting the below error while running the tests at `deployProxy()` -

![image](https://user-images.githubusercontent.com/82802377/125158038-ee523200-e18b-11eb-9bb9-0029c072d921.png)

Looks like it's not able to get  the `provider` here -
https://github.com/OpenZeppelin/openzeppelin-upgrades/blob/433d67187713e7aa4b

[2021-07-10 15:41] ashleshsortee commented on #387
I tried adding `provider` in `deployProxy()` using injected web3 but now it looks like truffle config is missing `contracts_build_directory` `contracts_directory ` fields even though I have added it in `truffle-config.js`

[code]

This is the error I am getting now -
![image](https://user-images.githubusercontent.com/25296268/125168393-fed1cf00-e1c2-11eb-85bb-1892c9ed8408.png)

I have also logged

[2021-07-11 11:44] ashleshsortee commented on #387
I was not using `truffle test` to run my tests. Instead my scripts in package.json had `npx buidler test` to run the tests. So, it seems like it was unable to run the test network to have the required fields like provider and contract paths.

[2021-07-11 11:44] #387 closed

[2021-07-13 13:26] frangio commented on #387
Buidler is not supported by the more recent versions, but if you were using Hardhat to test you would have to use the Hardhat plugin `@openzeppelin/hardhat-upgrades`. If you're using Truffle with `truffle test` you should use the Truffle plugin `@openzeppelin/truffle-upgrades`.

[2021-07-15 05:39] aliabdolazimi opened #390 "create2"
Upgrades Plugins do not support create2 and  cant use create2 with upgrade plugins

[2021-07-15 11:47] Amxx commented on #390
Hello @aliabdolazimi

Note that the upgrade plugin is designed to work with any blockchain. At the same time, EOA cannot create contract using create2, only factory contract can make use of this opcode.

AFAIK, there are two ways of deploying contract in a counterfactual manner:

- create a custom transaction with a specific signature that doesn't come from an EOA (only zeros ?) and fund the corre

[2021-07-15 13:45] frangio commented on #390
Duplicate of #358

[2021-07-15 13:45] #390 closed

[2021-07-20 10:04] nichanank opened #393 "hardhat deployProxy: "SyntaxError: Unexpected end of JSON input""
Package versions:
[code]

Getting an error with this in the tests:
[code]
The `deployProxy` line is giving a "Unexpected end of JSON input" error. It was running fine until I reinstalled my package dependencies today.

<img width="593" alt="Screenshot 2021-07-20 at 5 04 00 PM" src="https://user-images.githubusercontent.com/15038946/126305405-d7d192ab-5242-468d-aa69-02faaa06404d.png">

[2021-07-20 13:13] frangio commented on #393
It sounds like your manifest file is not valid JSON. Can you open `.openzeppelin/<network>.json` and see if you spot what's wrong with it? You can share it here too.

[2021-07-20 13:29] nichanank commented on #393
oh interesting, I was on hardhat network whose manifest file I'm assuming is `.openzeppelin/unknown-31337.json`, but this was an empty file. when do these get generated?

[2021-07-20 13:38] frangio commented on #393
They get generated when there's something to write, like a new deployment. It's strange that it would be empty, I don't think that could be caused by the plugin. You should delete the file.

[2021-07-20 16:34] nichanank commented on #393
deleting the file solved the issue, it regenerated properly after i reran the test scripts. not sure what happened there. thank you!

[2021-07-20 22:31] #393 closed

[2021-07-21 07:48] gzliudan opened #394 "Update Initializable.sol with latest from OpenZeppelin Contracts"
The file packages/core/contracts/Initializable.sol writes: `pragma solidity >=0.4.24 <0.7.0;`, then this file is not support solidity 0.8.x? But file packages/core/contracts/import.sol writes: `pragma solidity ^0.8.0;`.

[2021-07-21 13:06] frangio commented on #394
Generally you should use the `Initializable.sol` file that comes with OpenZeppelin Contract. This one has become outdated and hasn't been updated to support Solidity 0.8.

[2021-07-21 15:59] utgarda commented on #326
Thanks for the sample repo! Is there any piece of documentation describing non-automated verification?

[2021-07-21 16:05] creazy231 opened #395 "Upgrade - Transaction has been reverted by the EVM"
Deployment works fine but every time I want to upgrade my contracts it deploys the updated contract successfully but the second step results in an error `Transaction has been reverted by the EVM`. Anyone knows how to get this fixed or get any info why the transaction has been reverted?

[2021-07-21 16:07] creazy231 commented on #395
Get this error even with the example contract like:
[code]

[2021-07-21 17:10] #395 closed

[2021-07-21 17:18] creazy231 commented on #395
I switched my hardware and recreated my .env file with the wrong private key. Therefore the owner of the implementation contract was a different one.

[2021-07-21 17:21] creazy231 commented on #394
Use this one: https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable/blob/master/contracts/proxy/utils/Initializable.sol

[2021-07-21 17:52] utgarda opened #396 "Proxy admin is not the one registered in the network manifest"
Deployed and verified proxy by cloning `openzeppelin-upgrades` and running `verify.js` from `packages/core`
https://rinkeby.etherscan.io/address/0x154695947213748E4e24Fb83Fb3DeB7A8c587583#code

Running script like
[code]

Getting an error message:
[code]

My reason for doing so is that I don't know how to verify the contract code itself otherwise.

How can I upgrade implementation _and_ have the p

[2021-07-22 19:02] frangio commented on #326
Sorry, no. In [this forum post](https://forum.openzeppelin.com/t/verifying-already-compiled-upgradable-proxy-contracts-on-other-chains/9248/2?u=frangio) I share the JSON input used to compile the proxies.

It can be used with Etherscan to verify.

[2021-07-26 09:50] Amxx commented on #396
Hello @utgarda

Can you please confirm the `.openzeppelin` folder is present at each step. Is it being deleted during verification?

[2021-07-26 10:06] gzliudan commented on #370
Yes, sometimes we need different acount for different contract feature, such as during test. But below way is not working now:
[code]

[2021-07-30 09:46] gzliudan commented on #394
Thanks.

[2021-07-30 09:46] #394 closed

[2021-07-30 11:43] utgarda commented on #396
Indeed, I tried to copy JSON files to another project and even hacked them replacing addresses. Probably messed them up.

[2021-07-30 15:39] #396 closed

[2021-08-04 10:22] paulrberg opened #402 "[plugin-hardhat] Let us disable the cache validations via a flag"
## Description

When I import a Hardhat artifact from an external package, the Hardhat plugin does not make the deployment because it fails to validate the cache. But there is no cache to validate because I am not compiling that contract locally.

The solution would be to let us disable the cache validation via a flag, so that we can use `@openzeppelin/hardhat-upgrades` with external Hardhat artif

[2021-08-05 14:22] noobshow opened #405 "Error: Unsuported TypeName node type: FunctionTypeName at serializeTypeName (node_modules/@openzeppelin/upgrades-core/src/utils/function.ts:43:13)"
Compiling a big project and this error came up, can't trim down the error but i think it relates to me using function type in a library:

[code]

This happens on 0.8.4 solidity and `"@openzeppelin/hardhat-upgrades": "^1.9.0"`

[2021-08-05 14:24] noobshow commented on #405
@frangio @Amxx
Does openzeppeling-upgrades not support [function types](https://docs.soliditylang.org/en/latest/types.html#function-types)?

[2021-08-06 01:10] noobshow commented on #405
Here is a stack trace of the error, i can't trim the project downward for now, but trying to get the tiniest possible code to get the root cause of the issue

Not sure if this helps with anything?
[code]

[2021-08-06 01:29] noobshow opened #406 "Deploy an Upgradeable contract without openzeppelin/hardhat-upgrades?"
Is there a way to deploy and update an Upgradeable Smart contract without @openzeppelin/hardhat-upgrades?

I'm having issues compiling successfully with it and i hope the next time i need to update my smart contract, the bug would have been fixed or the feature would have been implemented

https://github.com/OpenZeppelin/openzeppelin-upgrades/issues/405 is not allowing me compile for some unknown

[2021-08-06 02:11] noobshow commented on #405
I noticed as soon as i removed hardhat-upgrades from hardhat.config.ts, the project was able to compile without hitch

[2021-08-06 07:12] Amxx commented on #405
Thank for the trace. It really helps. This is a bug on our end.

[2021-08-06 07:15] Amxx commented on #406
Hello @noobshow,

It is possible to deploy upgradeable contracts without the package. Upgradeability happens at the blockchain level, and the package is just tooling to simplify the deployment.

However, deploying by hand will not produce the manifest that you will later need to verify the consistency (security) of upgrades.

[2021-08-06 07:29] Amxx commented on #405
@noobshow Do you use any other function types in your code?

The situation now:

- Error is triggered when we try to compute the function selector: https://github.com/OpenZeppelin/openzeppelin-upgrades/blob/master/packages/core/src/utils/function.ts#L43

- We compute the function selector for all external or public functions: https://github.com/OpenZeppelin/openzeppelin-upgrades/blob/master/packag

[2021-08-06 09:55] noobshow commented on #405
Hi,
Thanks for getting back as fast as this(thought it would take days as it is a matter of urgency)....

I used multiple functions like that(in like around 5 to 7 locations), the most common structure is like this:

[code]

That's the two structures i use, the one in the issue subject and this structure too.

I would be glad if i can use openzeppelin with this project before deployment so i can c

[2021-08-06 10:00] Amxx commented on #405
So I see you have some external functions with functions arguments. This is something we clearly didn't expect. It is not an issue with internal functions, but it is with external functions as we do save signatures to future-proof the manifest a bit more.

Hopefully, the fix is very simple (see #407). I'll double-check that with @frangio and we should have a new version released soon!

[2021-08-06 10:12] noobshow commented on #405
Thanks so much, you don't know how much i appreciate the bug-fix and the expected release...

Can't give enough thumbs-up... Thanks, once again

[2021-08-06 14:49] #405 closed

[2021-08-06 14:59] frangio commented on #405
Should be fixed on `@openzeppelin/upgrades-core@1.8.1`.

[2021-08-06 17:24] #406 closed

[2021-08-06 21:09] noobshow commented on #405
Not sure its necessary, but was just curious if hardhat-upgrade package should have its dependency bumped too?

My version upgrade isn't reflecting in hardhat-upgrades

[2021-08-09 19:03] frangio commented on #405
Yarn resolutions shouldn't be necessary because hardhat-upgrades declares a compatible dependency. But it can be hard to get the transitive dependency to update in your lockfile... Perhaps `yarn add @openzeppelin/hardhat-upgrades@latest` would do it.

[2021-08-10 00:17] frangio commented on #402
Thanks for the issue. This cache is actually important because that's where the result of validations (i.e. safety checks) are stored. This is what ensures the safety of the deployment and subsequent upgrades.

These checks run on the source code, so we need it to be part of compilation. The plugin currently will not work with contracts impoted via ABI and bytecode as in your script. You will need

[2021-08-10 10:03] paulrberg commented on #402
Yes, I would like to be able to disable the safety checks for testing purposes, or at least when deploying the logic contract for the first time (i.e. when not upgrading anything). I.e. when calling `deployProxy`, but not when `upgradeProxy`. What do you think?

[2021-08-10 12:49] frangio commented on #402
The issue here is that if you want safety checks in future upgrades, we also need to look at the source code (i.e. we need the cache) on the first deploy, because that's when we extract storage layout. We have plans to be able to extract storage layout later, if the source code is still available, but I wouldn't recommend relying on that generally because it will be easy to introduce small changes

[2021-08-10 12:54] paulrberg commented on #402
Not really, because the [hifi-deployers](https://github.com/hifi-finance/hifi-deployers) package is meant to be a standalone repo for deploying contracts.

Anyways, I understand your rationale here, and the security implications of disabling the safety checks. I will proceed with deploying our upgradeable contracts from the core repository.

[2021-08-10 12:56] paulrberg commented on #402
An idea: what if we point the OZ Hardhat plugin to the source code of the contract in an npm package, and also provide a Solidity settings object as [defined](https://github.com/nomiclabs/hardhat/blob/master/packages/hardhat-core/src/types/config.ts#L202) by Hardhat? Would this, in theory, be a good enough workaround for the lack of the `cache` folder?

[2021-08-10 17:39] frangio commented on #402
In theory it would work, but would be too difficult given the current architecture of the project. I'll take note as something that we'll probably need to solve in the future.

[2021-08-17 16:06] paulrberg commented on #269
I think that this issue can be closed. I found this in the docs:

[Upgrading a contract via a multisig](https://docs.openzeppelin.com/defender/guide-upgrades).

[2021-08-18 22:13] frangio commented on #370
I apparently forgot about this, but the plugin will use the signer that comes attached to the `ImplFactory` in the Hardhat plugin, and I believe it also uses the same default that was set for the contract class passed in the Truffle plugin.

[2021-08-19 12:09] noobshow opened #410 "artifacts.new vs ethers.getContractFactory.deploy()"
Which one would be preferable?
using :

[code]

or

[code]

What reasons to use one vs the other?
I have no use for specifics of `@openzeppelin/test-environment`, is there any benefits over one?

[2021-08-19 14:56] frangio commented on #410
Your first example creates a regular contract, and your second example creates an upgradeable contract. To learn about upgradeability read [Upgrading smart contracts](https://docs.openzeppelin.com/learn/upgrading-smart-contracts).

If you have any further questions please ask over at https://forum.openzeppelin.com

[2021-08-19 14:56] #410 closed

[2021-08-19 16:17] noobshow commented on #410
So, the `openzeppelin/test-environment` works as a test helper, it doesn't determine upgradability?

I was hoping it uses a different process than the usual hardhat `deploy` since it uses a different syntax `Contract.new`

[2021-08-19 18:21] julianmrodri commented on #410
Right.

The problem is your two examples do different things, not very comparable. If what you want is to deploy an Upgradeable contract follow the links that fran provided and you will most likely be doing something similar to your 2nd example (taking advantage of the `upgrades-plugin` for Hardhat).

If you just were curious about the syntax difference, the first one uses the `oz/test-environment

[2021-08-19 20:15] noobshow commented on #410
Thanks for all details, glad to know about it...

I was reading about the artifacts in a post talking about upgradablility and automating tests around it...

Just in a snap I figured that differences, hence my question here...
Will be reminded to use the forum the next time.

Thanks once again

[2021-08-20 10:26] paulrberg commented on #313
I came here wondering the same thing as @broccolirob .. why not read the address from contract storage instead of going through hoops by parsing the files in the `.openzeppelin` folders.

As per the [TransparentUpgradeableProxy.sol](https://github.com/OpenZeppelin/openzeppelin-contracts/blob/1d2e15fbd7314f4f60b47d97d9b852aacd5404f7/contracts/proxy/transparent/TransparentUpgradeableProxy.sol#L66-L7

[2021-08-22 11:23] ssnickolay opened #411 "Unable to resolve internal deps"
Hi, it seems the package has a dependency issue:
[code]

[2021-08-23 07:56] Amxx commented on #411
Hello @ssnickolay, and thank you for raising that issue.

I was able to reproduce it locally. will be addressing it soon.

[2021-08-23 08:01] Amxx commented on #411
In the meantime, note that `yarn add @openzeppelin/truffle-upgrades` does work

[2021-08-23 08:12] ssnickolay commented on #411
I can confirm - via `yarn` the package was successfully installed

[2021-08-23 08:59] Amxx commented on #313
There is a `getImplementationAddress` in `@openzeppelin/upgrades-core` with the following signature:

`getImplementationAddress(provider: EthereumProvider, address: string): Promise<string>`

An ethereumProvider is any object that implements the `send` function [as described here](https://github.com/OpenZeppelin/openzeppelin-upgrades/blob/master/packages/core/src/provider.ts#L3-L12).

[2021-08-23 10:17] paulrberg commented on #313
How hard would it be to expose this function in the upgrades plugin?

[2021-08-23 14:33] Amxx commented on #313
Not hard, and it has been on our roadmap for a while now. I'll bump it up

[2021-08-24 00:03] cylon56 commented on #348
Objective: Create detection for the `upgradeTo` function and default to kind:UUPS if the function is present in the contract.

Hint: implementation should be present in `deploy-proxy.ts` and will make use of the AST for checking for a function

Tasks:

- [ ] Hardhat Implementation
- [ ] Hardhat Tests
- [ ] Truffle Implementation
- [ ] Truffle Tests

[2021-08-25 10:58] danielb1986 commented on #313
I would really like to see this feature to come as well....have been looking for solutions for several hours now for something that could be super easy.  :)

[2021-08-25 16:00] danielb1986 commented on #313
Yes I did but it returns me "0x" as address.
Also tried to get it solved with one of your colleagues in the forum:
https://forum.openzeppelin.com/t/possible-to-add-newly-deployed-contracts-to-defender-via-deploy-script/14464/10

I tried so many different ways....I am running out of ideas....:/

[2021-08-26 18:42] noobshow opened #414 "How to get Hardhat deployProxy gas used"
Hi,
I made [this post](https://forum.openzeppelin.com/t/how-to-get-hardhat-deployproxy-gas-used/14551) on the forum since almost 24 hours asking how to get total gas used when deploying using upgrades-plugin...

Here i'm Using this code for contract deployment and getting certain information after deployment

[code]
But, i figured there's a difference, big difference in "gas used" reported above v

[2021-08-29 10:47] aspiers opened #416 "docs: clarify how to choose proxy type"
I think there is room for improvement in the documentation with regards to explaining how to choose between transparent and UUPS proxies.  Let me give you my perspective as someone who is a newbie to upgradeable contracts, but otherwise an experienced developer.

Firstly I read https://docs.openzeppelin.com/contracts/4.x/api/proxy#transparent-vs-uups and several other good resources (including rel

[2021-09-01 07:03] garyng2000 opened #421 "how to import the upgrade plugin in an 'imported' typescript file by hardhat ?"
the document has described two usage, directly inside hardhat's hardhat.config.js via 'require' or stand alone script which pull in the hardhat. However I am working with a setup like this

hardhat.config.js

import { deployment } from "utils/deploy";

where deploy is deploy.ts (typescript not javascript')

I tried

const upgrades = requires('@openzepplin/hardhat-upgrades");

but upgrades is an em

[2021-09-01 07:32] garyng2000 commented on #421
sorry it is 'hardhat.config.ts' not 'hardhat.config.js'

[2021-09-01 08:18] garyng2000 commented on #421
ok, find my way to plug this in(complicated) but have another issue. what is validations.json ? the project I am working on use yarn monorepo style so the deployment package is separated from the contracts package.

[2021-09-02 10:06] Amxx commented on #276
@aquiladev unfortunately there isn't. I'll see if I can bump it, as I believe it would be valuable ... but I don't want to make any promise I can't keep.

[2021-09-06 08:27] itsermin commented on #276
This is quite limiting unfortunately for automating upgrades

[2021-09-06 09:58] aquiladev commented on #276
@itsermin so far I see next options:
- [Hack storage layout history](https://forum.openzeppelin.com/t/storage-layout-upgrade-with-hardhat-upgrades/14567/2?u=aquiladev) in order to run upgrade (the option hard to automate)
- Use [storage slots](https://docs.openzeppelin.com/contracts/4.x/api/utils#StorageSlot), in order to avoid storage layout change
- Wait for `_gap` support in the tool (change st

[2021-09-11 04:11] DreamerLeon commented on #241
Any update? I also face this issue

[2021-09-11 11:38] pasevin commented on #62
Hi, is this still the case with UUPSUpgradeable?

[2021-09-11 17:47] aspiers commented on #369
This doesn't fix it for me :-(

[2021-09-11 18:36] aspiers commented on #369
I see it multiple times when running `hardhat test` on a test suite which calls `deployProxy` multiple times.  It pollutes the test suite output.  Is this a result of somehow the test code calling it in the wrong way, or is the warning simply not compatible with this approach to testing upgrades?

[2021-09-15 03:27] b1acKr0se opened #425 "Is this possible to recreate the manifest file?"
Hello, thank you all for this awesome package.

For some reasons, the generated manifest file for my contract was deleted. Is is possible to recreate it, given that I have the storage layout, the address/tx hash of the proxy as well as the admin's?  The only thing I couldn't figure out was the hashed key under the `impls` object:

[code]

Thank you.

[2021-09-15 10:36] Amxx commented on #425
Hello @b1acKr0se

Maybe @frangio can help you with that, he known the manifest structure better than anyone.

[2021-09-15 13:52] frangio commented on #425
The hash is a hash of the bytecode, so it works as an identifier of the contract. If you're certain that the contract you have on disk is the same one that you have deployed at a particular address, you can assume that the hash is the same one that corresponds to that contract you have on disk.

Here's what I would suggest you do: deploy your system to a local Hardhat Network, and then copy over t

[2021-09-15 19:56] israel-gonzalezmedina opened #426 "contracts-upgradeable/proxy/Initializable.sol not found"
Hi I am trying to run the upgrade examples of the documentation and after installing the openzeppeling upgrade contract I am having this error:

ParserError: Source "@openzeppelin/contracts-upgradeable/proxy/Initializable.sol" not found
 --> project:/contracts/MonitoringCenter.sol:5:1:

The file is on node_modules/@openzeppeling folder

I am using ubuntu 20.04 and
npx truffle version
Truffle v5.4.

[2021-09-15 20:13] israel-gonzalezmedina commented on #426
file Initializable.sol is at
node_modules/@openzeppelin/contracts/proxy/utils/Initializable.sol
why my node is not installing on the documentation path?

[2021-09-15 21:30] frangio commented on #426
Can you try running `npm install` again? You have the right package version installed. The file should be there.

[2021-09-15 21:34] frangio commented on #369
You will see this warning when you combine both Transparent and UUPS proxies. We may need to change the warning to be smarter about when it shows.

In the meantime, you can upgrade the `@openzeppelin/upgrades-core` dependency to the latest version and use `upgrades.silenceWarnings()`.

[2021-09-15 21:38] israel-gonzalezmedina commented on #426
I deleted node_modules folder and ran npm install and I get the same error. The file is just not there.

[2021-09-15 21:47] frangio commented on #426
Oh yes, sorry I misread your issue. The documentation was wrong. The path you shared here is the right one.

I've fixed the docs now. https://github.com/OpenZeppelin/openzeppelin-upgrades/commit/71cbfe8d3eabaef9908c19e60dedfb291c06f2d4

[2021-09-15 21:47] #426 closed

[2021-09-15 21:58] frangio commented on #241
We need someone to help us understand what the dry run does exactly and what is going wrong that it breaks the Upgrades Plugin.

In the meantime, please use `--skip-dry-run`.

[2021-09-15 23:03] frangio commented on #421
Hi @garyng2000. Sorry just seeing this.

I think you're going about the wrong way to set up your Hardhat config file. Make sure to read the relevant Hardhat documentation: [Configuration](https://hardhat.org/config/), and [TypeScript Support](https://hardhat.org/guides/typescript.html). Particularly the second one should be very helpful for you.

Validations.json is a file used internally by the U

[2021-09-15 23:04] frangio commented on #414
For anyone else running into this there is a solution [in the forum thread](https://forum.openzeppelin.com/t/how-to-get-hardhat-deployproxy-gas-used/14551/3?u=frangio).

[2021-09-15 23:04] #414 closed

[2021-09-15 23:10] frangio commented on #411
I was not able to reproduce this. Tried with both npm 6 and 7. It may have been a temporary issue.

[2021-09-15 23:10] #411 closed

[2021-09-16 00:25] aspiers commented on #369
Thanks for the info!  Is that the only possible cause?  What do you mean by combining both, exactly?  As far as I know I'm only using UUPS, but it's possible I've made a mistake somehow - is there any pitfall I should look out for?

[2021-09-16 01:27] rellfy commented on #369
If you've ever used Transparent proxies before, and the proxy network file is cached/holds that data, it will emit this warning AFAIK.

[2021-09-16 01:45] aspiers commented on #369
Never used Transparent, and also deleting `.openzeppelin/*.json` doesn't help.

[2021-09-16 09:22] b1acKr0se commented on #425
@frangio Thank you for your response. I have another manifest file which I previously deployed the contract to another chain, and indeed when I redeployed the contract to the local network, the deployed bytecode produces the same hash in the manifest file. So I think I can replace all the addresses and achieve the desired result. However I have not had an opportunity to perform an upgrade to my pr

[2021-09-16 09:22] #425 closed

[2021-09-16 18:36] frangio commented on #369
You may not be including `{ kind: 'uups' }` in a call to `deployProxy`. If you omit that, it deploys as Transparent. We want to default to `'uups'` if the contract inherits `UUPSUpgradeable`, but it's not done yet.

[2021-09-16 19:10] aspiers commented on #369
We're deploying like this:

[code]

so I'm pretty sure we're deploying UUPS.

[2021-09-16 19:37] frangio commented on #369
Is this the only `deployProxy` call in your tests? If so, you should not be seeing this warning if you delete `.openzeppelin/*.json` and then run your tests. If the code is in a repository I'll gladly take a look.

[2021-09-16 20:27] aspiers commented on #369
No it's called multiple times to deploy different contracts within the same test suite. Only the warning vanishes if I delete the json file first, so presumably the first deploy is recreating the manifest which then causes the warning on any subsequent deploys.

[2021-09-17 10:38] SnakeMM opened #428 "Cannot control variables' order when adding new parent contract?"
I met a problem here.
Let's assume my contract version one is like:
contract A is Initializable, OwnableUpgradeable
And version two like this:
contract B is Initializable, OwnableUpgradeable, ReentrancyGuardUpgradeable

When I deployed contract A, and try to upgrade to B, here comes an error:
"Inserted `_status`

I know it is because the variable `_status` is inserted into old variables, right?
Bu

[2021-09-17 14:49] frangio commented on #369
The first deploy creates a new manifest, which by default does not include an admin, because none has been deployed at that point. The first deploy of a transparent proxy will deploy an admin and store it in the manifest. If all of your deploys are UUPS, this will not happen. So if you see the warning, I'm certain a transparent poxy is being deployed.

If you open the manifest file you will find t

[2021-09-18 20:23] aspiers commented on #369
Thanks a lot, that solved it!  There were indeed a couple of accidental omissions of `{kind: 'uups'}` from the deployments.

But I still don't fully understand the explanation - why wouldn't deployment of a UUPS proxy also store an admin in the manifest?  And why should there be a conflict between transparent and UUPS proxies as a result of only transparent proxies storing an admin?

To be honest

[2021-09-19 02:36] rellfy commented on #369
UUPS doesn't have a proxy admin: https://docs.openzeppelin.com/contracts/4.x/api/proxy#transparent-vs-uups

[2021-09-21 22:01] NeoXtreem commented on #241
This has just cost me a considerable amount of time to figure out where the problem was (see [here](https://forum.openzeppelin.com/t/unable-to-upgrade-contract-as-previous-deployment-is-not-registered/15861)). When will this be fixed?

[2021-09-24 10:29] Dylan-Kerler opened #430 "How can I ignore a rule for a single line?"
Is there something like `// eslint-ignore` ?

[2021-09-24 10:57] Dylan-Kerler commented on #430
I found what i was looking for -

[code]

[2021-09-24 10:57] #430 closed

[2021-09-26 04:12] hodlbe commented on #241
What to do if the <chain> .js file in the .openzeppelin directory has been deleted??? Uses hardhat.

Error: Proxy admin is not the one registered in the network manifest

[2021-09-26 04:21] hodlbe commented on #241
What to do if the chain.js file in the .openzeppelin directory has been deleted??? Using hardhat.

Error: Proxy admin is not the one registered in the network manifest

[2021-09-27 03:12] b1acKr0se commented on #425
I've done an upgrade on my production contract with a manifest file that I duplicated from another chain's. I can confirm that you only need to change the admin address, the proxy address, and the implementation address (given you have the same code as the one you deployed, so the generated bytecode would hash to the same key inside the `impls` object) to be able to perform the upgrade:

[code]

R

[2021-09-28 10:07] Amxx opened #431 "Add support of packing / unpacking structure during storage layout verification."
Let's say we have an ERC20Votes contract. [This contract contains 3 consecutive slots dedicated to the voting logic](https://github.com/OpenZeppelin/openzeppelin-contracts/blob/master/contracts/token/ERC20/extensions/ERC20Votes.sol#L36-L38):

[code]

This storage and the associated logic would benefit from being abstracted away, so it can be reused for ERC721 voting or ERC1155 voting (for example)

[2021-10-05 01:21] frangio commented on #369
Yes, we need to improve these warnings. UUPS deployment does not use an admin, because it doesn't need it in the same way that Transparent proxies need it.

[2021-10-05 08:49] marceljay commented on #175
As we encountered the issue in our hardhat setup with the OZ plugin, I posted in the OZ forum:
https://forum.openzeppelin.com/t/hardhat-uups-deployment-at-address-0x-is-not-registered/16529

[2021-10-06 13:42] #428 closed

[2021-10-09 11:47] aspiers commented on #369
Let me start by explaining the origin of my confusion as I understand it.  My thinking was as follows:

Any upgradeable proxy, including a UUPS proxy, needs at least one account which can upgrade it (let's ignore the crazy corner case where upgrade is a permissionless action which anyone can do).  So thinking intuitively without focusing on any details of how UUPS works, that account is the notion

[2021-10-10 10:24] Amxx commented on #369
Exactly

[2021-10-12 19:30] frangio opened #438 "Detect storage incompatibilites due to bug in Solidity 0.8.8"
Packing of variables of user defined value types is different in 0.8.8 than it is in subsequent versions. See [User Defined Value Types Bug](https://blog.soliditylang.org/2021/09/29/user-defined-value-types-bug/).

The easiest thing is to reject Solidity 0.8.8.

[2021-10-21 17:14] frangio commented on #309
I'm going to assume the plugins will work as-is on [Optimism v2](https://community.optimism.io/docs/developers/l2/changeset.html). If someone runs into any problems please create a new issue.

[2021-10-21 17:14] #309 closed

[2021-10-21 17:29] frangio commented on #239
Closing this assuming people have done the migration already.

[2021-10-21 17:31] #97 closed, assigned to nobody

[2021-10-28 19:48] #62 closed, assigned to nobody

[2021-10-30 17:24] parseb opened #445 "Initializable.sol "proxied contract can't have a constructor"? #docs"
I understand a bit as to why having a constructor on a proxied contract might be a bad idea.
But I am not sure about the truth value of the statement: [proxied] contracts can't have a constructor.

Is this a true statement on its own merit (all), or one that becomes true (some) as a direct consequence of a design choice (particular case)?

Came here from a learning material and did not find any re

[2021-11-02 19:25] joemckie opened #449 "How to get previously deployed contract details?"
In `hardhat-deploy`, it's possible to do this:

[code]

Is there a similar way to get contract details using `@openzeppelin/hardhat-upgrades`? I have a contract that depends on an address of another contract and would like to make the deployment as automated as possible.

Thanks!

[2021-11-02 20:31] frangio commented on #445
Not the intention to the deny a contract's right to self-determination.

I like your suggested fix, can you submit a PR?

[2021-11-04 10:46] 0x3bfc opened #453 "Configurable polling interval and polling timeout"
I am experiencing an issue with the following error:

[code]
The returned contract address is null in the transaction receipt. This happened when I use a non-geth RPC relayers to invoke transactions.

https://github.com/OpenZeppelin/openzeppelin-upgrades/blob/d2d79a2b039cda5c75a9110bf033e837e6949d69/packages/core/src/deployment.ts#L59

[2021-11-06 13:02] ppoliani commented on #287
Hi @frangio @abcoathup,

Could you guys point to some example of how such factory can be built. I followed the links you provided however I believe it would be beneficial to everyone if such use case is documented given the sensitive nature of upgradable contracts.

[2021-11-06 14:35] ppoliani opened #455 "Usage of SafeERC20 makes contract not upgrade-safe"
SafeERC20 from the Openzepelin contracts is a very popular Lib. However, using it in an upgradable contracts makes them non upgrade-safe according to the plugin.

More specifically, the following error is thrown

[code]

At the moment I'm ignoring that error by setting

[code]

However, this is unclear whether it will cause issues or not.

Would it be possible to clarify this point. SafeERC20 is a

[2021-11-06 21:23] Amxx commented on #455
Hello @ppoliani

`SafeERC20`, found in the `@openzeppelin/contracts` repository, does depend on `Address`, which contains non-upgrade-safe functions. Due to current limitations, we are not able to clearly identity which function in library are called, and if they are upgrade-safe... Thus making the `SafeERC20` flagged as potentially upgrade-unsafe.

A good option for you would be to use `SafeERC20

[2021-11-06 21:23] #455 closed

[2021-11-08 06:51] roshanr95 commented on #276
It would be great if you could _prefix_ match `____gap` instead of exact. Allows for adding multiple gaps as well as giving them more meaningful names.

[2021-11-08 10:17] ppoliani commented on #455
Hi @Amxx,

Thanks for sharing the solution, I got one question. I checked the code in the `SafeERC20Upgradable` and from the looks of it works with `IERC20Upgradeable` in mind. I assume it would be equally correct to use `IERC20` instead as well. Is that correct?

[2021-11-11 22:48] jimrubenstein commented on #175
I definitely need this feature; migration failures happen way too often using truffle, and the last time it happened I manually called the ProxyAdmin to update the implementation address.

Now, I need to run another upgrade, but can't, because the migration didn't complete the last time - so openzep didn't store the deployed contract address. So now, we get an error during upgrade and the only way

[2021-11-12 03:32] dectf commented on #453
also encounter this problem, anyone help?

[2021-11-14 19:12] frangio commented on #287
There are many examples on the forum in [this thread](https://forum.openzeppelin.com/t/deploying-upgradeable-proxies-and-proxy-admin-from-factory-contract/12132).

[2021-11-14 19:20] frangio commented on #453
From the description here I don't see how changing the poll interval or timeout would help.

Can you describe how to reproduce the issue? Use a non-geth RPC relayer, then what action triggers the error exactly? Is this Ethereum mainnet or some other network?

[2021-11-15 04:36] NeoXtreem commented on #73
Any idea when this will be implemented? It's causing a pain in my migrations where I have to hack my scripts to use @evgenynacu's workaround.